<ion-view title="Asylrechtsberatung" hide-nav-bar="true" id="page34" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h2 id="asylrechtsberatung-heading55" style="color:#00A3A3;font-weight:300;text-align:center;" class=" ">Asylrechtsberatung</h2>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
        <h4 id="asylrechtsberatung-heading56" style="color:#4C4C4C;" class=" ">Die kostenlose Asylrechtsberatung gibt erste Informationen zu unterschiedlichen Rechtsgebieten und unterstützt Flüchtlinge bei ihrem Asylverfahren sowie den damit verbundenen Rechtsfragen.</h4>
        <p id="asylrechtsberatung-markdown36" class=" "></p>
        <p id="asylrechtsberatung-markdown37" class=" ">Wir beraten Sie bei Ihrem Asylverfahren und allen damit in Zusammenhang stehenden Rechtsfragen (Familiennachzug, Niederlassungsbewilligung…). Im Anlassfall begleiten wir Sie auch zur Einvernahme, vertreten Sie im Asylverfahren und verfassen Rechtsmittel.</p>
        <div
        class="spacer" style="width: 283px; height: 18px;"></div>
            <h4 id="asylrechtsberatung-heading57" style="color:#4C4C4C;" class=" ">Sie brauchen Unterstützung?</h4>
            <p id="asylrechtsberatung-markdown38" class=" ">Wir können Sie als AsylwerberIn in folgenden Sprachen beraten: Russisch, Dari/Farsi, Arabisch, Kurdisch, Chinesisch u.a.
                <br>Unser Beratungs- und Betreuungsangebot ist kostenlos. Sie brauchen jedoch einen Termin. Bitte kommen Sie während der Öffnungszeiten ins Asylzentrum und vereinbaren Sie persönlich den Termin.</p>
            <div class="spacer" style="width: 283px; height: 18px;"></div>
            <h4 id="asylrechtsberatung-heading59" style="color:#4C4C4C;" class=" ">Sie brauchen Unterstützung?</h4>
            <p id="asylrechtsberatung-markdown40" class=" ">Wir können Sie als AsylwerberIn in folgenden Sprachen beraten: Russisch, Dari/Farsi, Arabisch, Kurdisch, Chinesisch u.a.
                <br>Unser Beratungs- und Betreuungsangebot ist kostenlos. Sie brauchen jedoch einen Termin. Bitte kommen Sie während der Öffnungszeiten ins Asylzentrum und vereinbaren Sie persönlich den Termin.</p>
            <div class="spacer" style="width: 283px; height: 18px;"></div>
            <h4 id="asylrechtsberatung-heading63" style="color:#4C4C4C;" class=" ">Asylzentrum Juristischer Journaldienst</h4>
            <ion-list id="asylrechtsberatung-list19" class=" ">
                <ion-item class="item-icon-left calm  " id="asylrechtsberatung-list-item65" href="tel:01 427 88-644 ">
                    <i class="icon ion-android-call"></i>Tel. 01 427 88-644</ion-item>
                <ion-item class="item-icon-left positive  " id="asylrechtsberatung-list-item66" href="mailto:asylrechtsberatung@caritas-wien.at">
                    <i class="icon ion-email"></i>Mail</ion-item>
                <ion-item class="item-icon-left positive  " id="asylrechtsberatung-list-item67" href="#" onclick="window.open('https://www.google.at/maps/place/Spitalgasse+5-9,+1090+Wien/@48.216465,16.3488491,17z/data=!3m1!4b1!4m5!3m4!1s0x476d07c0fd41b5a7:0x575503530b4beeea!8m2!3d48.216465!4d16.3510378?hl=ro', '_system', 'location=yes'); return false;">
                    <i class="icon ion-map"></i>Spitalgasse 5-9 / 1090 Wien</ion-item>
            </ion-list>
            <div class="spacer" style="width: 283px; height: 55px;"></div>
    </ion-content>
</ion-view>