<ion-view title="Asylzentrum" hide-nav-bar="true" id="page30" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h2 id="asylzentrum-heading12" style="color:#00A3A3;font-weight:300;text-align:center;" class=" ">Asylzentrum</h2>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
        <h4 id="asylzentrum-heading47" style="color:#4C4C4C;" class=" ">Als Servicestelle des Fonds Soziales Wien (FSW) ist das Asylzentrum der Caritas für die Grundversorgung in Wien lebender anspruchsberechtigter Flüchtlinge zuständig. Darüber hinaus bieten wir auch Sozialberatung.</h4>
        <p id="asylzentrum-markdown29"
        class=" "></p>
        <p id="asylzentrum-markdown30" class=" ">Wir beraten und unterstützen Sie bei Fragen zum Thema Asyl und Fremdenrecht sowie bei Problemen im sozialen Umfeld. Ein Schwerpunkt unserer Arbeit ist die Abwicklung der Leistungen der Grundversorgung für alle privat wohnenden Anspruchsberechtigten.
            In einem persönlichen Gespräch gehen wir auf Ihre individuelle Situation ein und wollen auch Hilfe zur Selbsthilfe anbieten.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="asylzentrum-heading51" style="color:#4C4C4C;" class=" ">Servicestelle des FSW</h4>
        <p id="asylzentrum-markdown31" class=" ">Auszahlung von Miete und Verpflegungsgeld Sach- und Geldleistungen für Schule und Kleidung Krankenversicherung und medizinische Leistungen Information, Beratung, Betreuung Fahrtkosten bei behördlichen Ladungen und Überstellungen Unterbringung
            in einer Grundversorgungseinrichtung in direkter Kooperation mit der Landesleitstelle des FSW</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="asylzentrum-heading53" style="color:#4C4C4C;" class=" ">Sie brauchen Leistungen der Servicestelle des FSW?</h4>
        <p id="asylzentrum-markdown32" class=" ">Wir beraten AsylwerberInnen und Asylberechtigte in den ersten vier Monaten nach der Anerkennung, subsidiär Schutzberechtigte und Personen mit Bleiberecht. Das Angebot ist kostenlos. Kommen Sie bitte während unserer Öffnungszeiten in unserer Beratungsstelle
            vorbei.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="asylzentrum-heading54" style="color:#4C4C4C;" class=" ">Sie brauchen Beratung?</h4>
        <p id="asylzentrum-markdown33" class=" ">In der Sozialberatungstelle ist das Asylzentrum im Auftrag des FSW für die Sozialberatung im 4. 11. und 16. Bezirk in Wien zuständig und berät AsylwerberInnen, die Grundversorgung erhalten.</p>
        <p id="asylzentrum-markdown34" class=" ">Weiters kümmern wir uns um Personen, die in Wien wohnen und nur Krankenversicherung im Rahmen der Grundversorgung erhalten sowie um Menschen, die in einem Caritas-Grundversorgungshaus wohnen.</p>
        <p id="asylzentrum-markdown35" class=" ">Das Angebot ist kostenlos. Kommen Sie bitte während unserer Öffnungszeiten in unserer Beratungsstelle vorbei.</p>
        <ion-list id="asylzentrum-list16" class=" ">
            <ion-item class="item-icon-left calm  " id="asylzentrum-list-item29" href="tel:01 427 88-0 ">
                <i class="icon ion-android-call"></i>Tel. 01 427 88-0</ion-item>
            <ion-item class="item-icon-left positive  " id="asylzentrum-list-item30" href="#" onclick="window.open('https://www.google.at/maps/place/Mariannengasse+11,+1090+Wien/@48.2158876,16.3472698,17z/data=!3m1!4b1!4m5!3m4!1s0x476d07c1a68b3f79:0xf426dc24a691a153!8m2!3d48.2158876!4d16.3494585?hl=ro', '_system', 'location=yes'); return false;">
                <i class="icon ion-map"></i>Mariannengasse 11/ 1090</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
    </ion-content>
</ion-view>