<ion-view title="Baleh" hide-nav-bar="true" id="page41" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h2 id="baleh-heading93" style="color:#00A3A3;font-weight:300;text-align:center;" class=" ">Baleh</h2>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
        <h4 id="baleh-heading94" style="color:#4C4C4C;" class=" ">Unbegleitet jugendliche Flüchtlinge brauchen besonderen Schutz in Form von altersgerechter Betreuung und Unterstützung auf ihrem Lebens- und Bildungsweg. Da manche Jugendliche in ihren Herkunftsländern oder aufgrund ihrer Fluchtgeschichte nicht
            die Möglichkeit eines regelmäßigen Schulbesuches hatten, bieten wir im Rahmen von Baleh eine Basisbildung an.</h4>
        <p id="baleh-markdown73" class=" "></p>
        <p id="baleh-markdown74" class=" ">Unsere TrainierInnen gehen gezielt auf Eure Kenntnisse ein und fördern Euch individuell.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="baleh-heading95" style="color:#4C4C4C;" class=" ">Was wir gemeinsam erreichen möchten</h4>
        <p id="baleh-markdown75" class=" ">Die neu erworbenen Kenntnisse sollen Selbstständigkeit fördern und die Integration in Österreich erleichtern.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="baleh-heading96" style="color:#4C4C4C;" class=" ">Wie könnt Ihr teilnehmen</h4>
        <p id="baleh-markdown76" class=" ">Wir richten uns an unbegleitete jugendliche Flüchtlinge, die keine oder nur kurze Schulerfahrung erworben haben.</p>
        <p id="baleh-markdown78" class=" ">Bitte ruft uns einfach an und vereinbart einen Termin für ein persönliches Gespräch.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="baleh-heading97" style="color:#4C4C4C;" class=" ">Infofolder Baleh</h4>
        <ion-list id="baleh-list32" class=" ">
            <ion-item class="item-icon-left calm  " id="baleh-list-item92" href="#" onclick="window.open('https://www.caritas-wien.at/fileadmin/storage/wien/hilfe-angebote/asyl-integration/ausbildung/baleh-folder.pdf', '_system', 'location=yes'); return false;">
                <i class="icon ion-information"></i>PDF</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="baleh-heading98" style="color:#4C4C4C;" class=" ">Baleh</h4>
        <ion-list id="baleh-list33" class=" ">
            <ion-item class="item-icon-left positive  " id="baleh-list-item93" href="tel:0664 887 987 82 ">
                <i class="icon ion-android-call"></i>0664 887 987 82</ion-item>
            <ion-item class="item-icon-left positive  " id="baleh-list-item94" href="mailto:patricia.velencsics@caritas-wien.at">
                <i class="icon ion-email"></i>Mail</ion-item>
        </ion-list>
        <ion-list id="baleh-list35" class=" ">
            <ion-item class="item-icon-left positive  " id="baleh-list-item95" href="#" onclick="window.open('https://www.google.at/maps/place/Hebbelpl.+5,+1100+Wien/@48.1659744,16.3763972,17z/data=!3m1!4b1!4m5!3m4!1s0x476da9bf00229145:0x7d1e2fba4be5b8cc!8m2!3d48.1659744!4d16.3785859?hl=ro', '_system', 'location=yes'); return false;">
                <i class="icon ion-map"></i>Hebbelplatz 5 / 1100</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
    </ion-content>
</ion-view>