<ion-view title="Begegnung Österreich" hide-nav-bar="true" id="page43" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h2 id="begegnungSterreich-heading105" style="color:#00A3A3;font-weight:300;text-align:center;" class=" ">Begegnung Österreich</h2>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
        <h4 id="begegnungSterreich-heading106" style="color:#4C4C4C;" class=" ">Mit dem Projekt Begegnung Österreich unterstützen wir MigrantInnen auf ihrem Integrationsweg und bieten kostenlos Beratung und Deutschkurse an.</h4>
        <p id="begegnungSterreich-markdown83" class=" "></p>
        <p id="begegnungSterreich-markdown84" class=" ">Mit unseren unterschiedlichen Kursen können Sie Deutsch lernen oder Ihre vorhandenen Sprachkenntnisse verbessern. Im Rahmen der MigrantInnen-Beratung informieren wir Sie bei Fragen über das Aufenthaltsrecht oder unterstützen bei sozialen und finanziellen
            Problemen. Auch bei Fragen zu Erziehung, Familie, Schulen oder Kindergärten können Sie sich an uns wenden.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="begegnungSterreich-heading107" style="color:#4C4C4C;" class=" ">Was wir gemeinsam erreichen wollen</h4>
        <p id="begegnungSterreich-markdown85" class=" ">Durch die individuelle Beratung und durch unsere Unterstützung beim Erlernen und Verbessern der Sprache wollen wir konkrete Probleme lösen und Ihnen Sicherheit im Umgang mit den Herausforderungen des täglichen Lebens geben.</p>
        <div class="spacer"
        style="width: 283px; height: 18px;"></div>
        <h4 id="begegnungSterreich-heading108" style="color:#4C4C4C;" class=" ">Wie können Sie teilnehmen?</h4>
        <p id="begegnungSterreich-markdown86" class=" ">Wir richten uns an MigrantInnen. Unser Angebot ist kostenlos. Bitte rufen Sie uns einfach an und vereinbaren Sie ein persönliches Gespräch oder kommen Sie während unserer Öffnungszeiten in unsere Beratungsstelle.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="begegnungSterreich-heading109" style="color:#4C4C4C;" class=" ">Infofolder Deutschkurse und Beratung NÖ</h4>
        <ion-list id="begegnungSterreich-list38" class=" ">
            <ion-item class="item-icon-left calm  " id="begegnungSterreich-list-item100" href="#" onclick="window.open('https://www.caritas-wien.at/fileadmin/storage/wien/hilfe-angebote/asyl-integration/beratung-migrantinnen/deutschkurse-noe.pdf', '_system', 'location=yes'); return false;">
                <i class="icon ion-information"></i>PDF</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="begegnungSterreich-heading110" style="color:#4C4C4C;" class=" ">Asyl &amp; Integration NÖ Süd</h4>
        <ion-list id="begegnungSterreich-list39" class=" ">
            <ion-item class="item-icon-left positive  " id="begegnungSterreich-list-item101" href="tel:01 02622 830 20 ">
                <i class="icon ion-ios-telephone"></i>01 02622 830 20</ion-item>
            <ion-item class="item-icon-left positive  " id="begegnungSterreich-list-item102" href="mailto:asylundintegration-noe@caritas-wien.at">
                <i class="icon ion-email"></i>Mail</ion-item>
            <ion-item class="item-icon-left positive  " id="begegnungSterreich-list-item103" href="#" onclick="window.open('https://www.google.at/maps/place/Wr.+Str.+56,+2700+Wiener+Neustadt/@47.8169651,16.243105,17z/data=!3m1!4b1!4m5!3m4!1s0x476dcb972bf605c9:0x940b0e5d3a4a1a09!8m2!3d47.8169651!4d16.2452937?hl=ro', '_system', 'location=yes'); return false;">
                <i class="icon ion-map"></i>Wiener Straße 56 / 2700</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <p id="begegnungSterreich-markdown87" class=" ">Persönliche Terminvereinbarung Mo-Fr 9-12 oder telefonische Kontaktaufnahme</p>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
    </ion-content>
</ion-view>