<ion-view title="Carbiz - Bildungsberatung" hide-nav-bar="true" id="page39" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h2 id="carbizBildungsberatung-heading79" style="color:#00A3A3;font-weight:300;text-align:center;" class=" ">Carbiz - Bildungsberatung</h2>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
        <h4 id="carbizBildungsberatung-heading80" style="color:#4C4C4C;" class=" ">Anerkannte Flüchtlinge, Subsidiär Schutzberechtigte und MigrantInnen arbeiten sehr oft in Berufen, die nicht ihrer Ausbildung entsprechen. Fluchtbedingte Brüche in der Bildungskarriere sowie unzureichende Anerkennung erworbener Zertifikate haben
            deutliche Auswirkungen auf die Berufsmöglichkeiten. Wir beraten Menschen mit Migrations- oder Fluchthintergrund bei unterschiedlichen Bildungs- und Berufsfragen.</h4>
        <p id="carbizBildungsberatung-markdown62" class=" "></p>
        <p id="carbizBildungsberatung-markdown63" class=" ">Wir informieren über schulische, universitäre und andere Ausbildungswege und über die unterschiedlichen Berufsmöglichkeiten in Österreich. Sofern Menschen bereits im Heimatland Ausbildungs- oder Berufsabschlüsse erworben haben, begleiten wir bei
            darauf aufbauenden Ausbildungen bzw. wenn möglich bei der Anerkennung der Zertifikate und der behördlichen Abwicklung.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="carbizBildungsberatung-heading81" style="color:#4C4C4C;" class=" ">Was wir gemeinsam erreichen wollen</h4>
        <p id="carbizBildungsberatung-markdown64" class=" ">Durch unsere anbieterunabhängige, qualifizierte und vertrauliche Bildungsberatung wollen wir die Lebensbedingungen von Flüchtlingen und MigrantInnen verbessern. Das Ziel ist die Unterstützung bei der Integration hinsichtlich Ausbildung und Beruf
            sowie der Einstieg in den österreichischen Arbeitsmarkt und ein damit verbundenes selbstständiges Leben in Österreich.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="carbizBildungsberatung-heading82" style="color:#4C4C4C;" class=" ">Sie brauchen Beratung?</h4>
        <p id="carbizBildungsberatung-markdown65" class=" ">Wir beraten AsylwerberInnen, Subsidiär Schutzberechtigte, Asylberechtigte, MigrantInnen und neue EU-BürgerInnen.</p>
        <p id="carbizBildungsberatung-markdown66" class=" ">Unser Angebot ist kostenlos. Bitte rufen Sie uns einfach an oder schicken Sie uns eine E-Mail und vereinbaren Sie einen persönlichen Gesprächstermin.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="carbizBildungsberatung-heading83" style="color:#4C4C4C;" class=" ">Infofolder Carbiz - Bildungsberatung</h4>
        <ion-list id="carbizBildungsberatung-list26" class=" ">
            <ion-item class="item-icon-left calm  " id="carbizBildungsberatung-list-item78" href="#" onclick="window.open('https://www.caritas-wien.at/fileadmin/storage/wien/hilfe-angebote/asyl-integration/ausbildung/bildungsberautung-carbiz-folder.pdf', '_system', 'location=yes'); return false;">
                <i class="icon ion-information"></i>PDF</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="carbizBildungsberatung-heading84" style="color:#4C4C4C;" class=" ">CarBiz - Caritas Bildungszentrum</h4>
        <ion-list id="carbizBildungsberatung-list27" class=" ">
            <ion-item class="item-icon-left positive  " id="carbizBildungsberatung-list-item79" href="tel:01 406 10 37 ">
                <i class="icon ion-android-call"></i>01 406 10 37</ion-item>
            <ion-item class="item-icon-left positive  " id="carbizBildungsberatung-list-item80" href="mailto:bildungsberatung@caritas-wien.at">
                <i class="icon ion-email"></i>Mail</ion-item>
            <ion-item class="item-icon-left positive  " id="carbizBildungsberatung-list-item81">
                <i class="icon ion-map"></i>Baumannstr. 11-15/ 1030</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
    </ion-content>
</ion-view>