<ion-view title="Deutschkurse" hide-nav-bar="true" id="page42" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h2 id="deutschkurse-heading99" style="color:#00A3A3;font-weight:300;text-align:center;" class=" ">Deutschkurse</h2>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
        <h4 id="deutschkurse-heading100" style="color:#4C4C4C;" class=" ">Wir bieten kostenlose Deutschkurse für AsylwerberInnen in Wien und Niederösterreich. Unsere KursleiterInnen, die alle freiwillige MitarbeiterInnen sind, orientieren sich am Alltag der Menschen.</h4>
        <p id="deutschkurse-markdown79" class=" "></p>
        <p id="deutschkurse-markdown80" class=" ">Mit unseren unterschiedlichen Kursen können Sie Deutsch lernen oder Ihre vorhandenen Sprachkenntnisse verbessern. Als Prüfungszentrum des Österreichischen Sprachdiploms Deutsch (ÖSD) bieten wir Ihnen nach einer individuellen Beratung die Möglichkeit
            eine ÖSD-Prüfung abzulegen.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="deutschkurse-heading101" style="color:#4C4C4C;" class=" ">Was wir gemeinsam erreichen wollen</h4>
        <p id="deutschkurse-markdown81" class=" ">Durch unsere Unterstützung beim Erlernen und Verbessern der Sprache und durch die individuelle Beratung wollen wir Sie fit für den Alltag machen und Ihnen Sicherheit im Umgang mit den Herausforderungen des täglichen Lebens geben.</p>
        <div class="spacer"
        style="width: 283px; height: 18px;"></div>
        <h4 id="deutschkurse-heading102" style="color:#4C4C4C;" class=" ">Wie können Sie teilnehmen?</h4>
        <p id="deutschkurse-markdown82" class=" ">Wir richten uns an AsylwerberInnen. Unser Angebot ist kostenlos. Wenn Sie mehr über die Kurse wissen möchten, rufen Sie uns bitte einfach an.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="deutschkurse-heading103" style="color:#4C4C4C;" class=" ">Deutschkurse</h4>
        <ion-list id="deutschkurse-list36" class=" ">
            <ion-item class="item-icon-left calm  " id="deutschkurse-list-item96" href="#" onclick="window.open('https://www.caritas-wien.at/fileadmin/storage/wien/hilfe-angebote/asyl-integration/ausbildung/deutschkurse-folder.pdf', '_system', 'location=yes'); return false;">
                <i class="icon ion-information"></i>PDF</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="deutschkurse-heading104" style="color:#4C4C4C;" class=" ">CarBiz - Caritas Bildungszentrum</h4>
        <ion-list id="deutschkurse-list37" class=" ">
            <ion-item class="item-icon-left positive  " id="deutschkurse-list-item97" href="tel:01 406 10 37 ">
                <i class="icon ion-android-call"></i>01 406 10 37</ion-item>
            <ion-item class="item-icon-left positive  " id="deutschkurse-list-item98" href="mailto:bildungsberatung@caritas-wien.at">
                <i class="icon ion-email"></i>Mail</ion-item>
            <ion-item class="item-icon-left positive  " id="deutschkurse-list-item99" href="#" onclick="window.open('https://www.google.at/maps/place/Baumannstra%C3%9Fe+11-15,+1030+Wien/@48.2037391,16.385684,17z/data=!3m1!4b1!4m5!3m4!1s0x476d07723beaff91:0x5eb18d833bf5e7f3!8m2!3d48.2037391!4d16.3878727?hl=ro', '_system', 'location=yes'); return false;">
                <i class="icon ion-map"></i>Baumannstr. 11-15 / 1030</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
    </ion-content>
</ion-view>