<ion-view title="Hilfe suchen" hide-nav-bar="true" id="page3" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h2 id="hilfeSuchen-heading20" style="color:#00A3A3;font-weight:300;text-align:center;" class=" ">Hilfe suchen</h2>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
        <a ui-sref="caritasApp" id="hilfeSuchen-button9" class=" button button-calm  button-block ">Alterspflege</a>
        <a ui-sref="asylwerber" id="hilfeSuchen-button10" class=" button button-calm  button-block ">Asylwerber</a>
        <a ui-sref="alleinerziehendePerson" id="hilfeSuchen-button11" class=" button button-calm  button-block ">Alleinerzieher</a>
        <a ui-sref="obdachWohnen" id="hilfeSuchen-button12" class=" button button-calm  button-block ">Obdacht</a>
    </ion-content>
</ion-view>