<ion-view title="Initiative Medical Aid for Refugees" hide-nav-bar="true" id="page38" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h2 id="initiativeMedicalAidForRefugees-heading75" style="color:#00A3A3;font-weight:300;text-align:center;" class=" ">Initiative Medical Aid for Refugees</h2>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
        <p id="initiativeMedicalAidForRefugees-markdown56" class=" "></p>
        <p id="initiativeMedicalAidForRefugees-markdown57" class=" ">Angesichts der Witterungsverhältnisse und der prekären Situation in der Betreuungsstelle Traiskirchen hat die ausreichende medizinische Versorgung für die Menschen im Lager oberste Priorität.</p>
        <p id="initiativeMedicalAidForRefugees-markdown61"
        class=" ">Die Initiative Medical Aid for Refugees ist ein Zusammenschluss medizinischer ExpertInnen, ÄrztInnen und verschiedener Hilfsorganisationen, darunter die Caritas, die den Flüchtlingen in Traiskirchen dringend benötigte medizinische Beratung unentgeltlich
            anbieten.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="initiativeMedicalAidForRefugees-heading78" style="color:#4C4C4C;" class=" ">Mehr Infos</h4>
        <ion-list id="initiativeMedicalAidForRefugees-list25" class=" ">
            <ion-item class="item-icon-left calm  " id="initiativeMedicalAidForRefugees-list-item75" href="#" onclick="window.open('http://medicalaidforrefugees.at/', '_system', 'location=yes'); return false;">
                <i class="icon ion-social-google"></i>medicalaidforrefugees</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
    </ion-content>
</ion-view>