<ion-view title="Kind" hide-nav-bar="true" id="page7" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h2 id="kind-heading26" style="color:#00A3A3;font-weight:300;text-align:center;" class=" ">Kind</h2>
        <div class="spacer" style="width: 300px; height: 45px;"></div>
        <p id="kind-markdown2" style="color:#646464;" class=" ">Jeder Mensch ist einzigartig. Auch Ihr Kind/Ihre Kinder haben individuelle Bedürfnisse und wenn diese nicht erfüllt werden können, werden auch individuelle Auffälligkeiten auftreten. Wichtig ist, dass die Situation nicht als unveränderbar angesehen
            wird. Eine Scheidung ist zum Beispiel schwierig für das Kind, aber das ist keine Situation ohne Ausweg. Wichtig ist nicht den Kopf zu verlieren und dem Kind halt zu geben. Sie müssen immer bedenken, dass das Kind in einer noch schwierigeren
            Situation ist als Sie selbst und es braucht Sie als starke Person auf die es sich verlassen kann. Verzweifeln Sie daher nicht wenn Sie mal nicht weiter wissen sondern erkundigen Sie sich in Ihrem Umfeld oder erkundigen Sie sich bei uns, was
            Sie am besten in Ihrer Situation tun können oder wer Ihnen vielleicht etwas Arbeit erleichtern kann.</p>
        <div class="spacer" style="width: 300px; height: 45px;"></div>
    </ion-content>
</ion-view>