<ion-view title="Kontakt" hide-nav-bar="true" id="page4" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h2 id="kontakt-heading21" style="color:#00A3A3;font-weight:300;text-align:center;" class=" ">Pfleger</h2>
        <div class="spacer" style="width: 300px; height: 45px;"></div>
        <ion-list id="kontakt-list2" class=" manual-list-fullwidth ">
            <ion-item class="item-icon-left calm  " id="kontakt-list-item3" href="tel:">
                <i class="icon ion-android-call"></i>Telefon (Wien, NÖ)
                <span class="item-note">01 878 12-340</span>
            </ion-item>
            <ion-item class="item-icon-left calm  " id="kontakt-list-item4">
                <i class="icon ion-android-call"></i>Telefon (Wien)
                <span class="item-note">01 87812-350</span>
            </ion-item>
            <ion-item class="item-icon-left calm  " id="kontakt-list-item5" href="mailto:betreuenundpflegen@caritas-wien.at">
                <i class="icon ion-email"></i>E-Mail
                <span class="item-note">betreuenundpflegen@caritas-wien.at</span>
            </ion-item>
            <ion-item class="item-icon-left calm  " id="kontakt-list-item6" href="#" onclick="window.open('http://tinyurl.com/z9kzujh', '_system', 'location=yes'); return false;">
                <i class="icon ion-map"></i>Adresse
                <span class="item-note">Albrechtskreithgasse 19, 1160 Wien</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>