<ion-view title="Kontakt" hide-nav-bar="true" id="page9" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding" scroll="false">
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h2 id="kontakt2-heading33" style="color:#00A3A3;font-weight:300;text-align:center;" class=" ">Kontakt</h2>
        <div class="spacer" style="width: 300px; height: 45px;"></div>
        <ion-list id="kontakt2-list3" class=" ">
            <ion-item class="item-icon-left positive  " id="kontakt2-list-item9" href="tel:01/51 552-3343">
                <i class="icon ion-android-call"></i>Telefon
                <span class="item-note">01/51 552-3343</span>
            </ion-item>
            <ion-item class="item-icon-left positive  " id="kontakt2-list-item10" href="mailto:alleinerziehende@edw.or.at">
                <i class="icon ion-email"></i>E-Mail
                <span class="item-note">alleinerziehende@edw.or.at</span>
            </ion-item>
            <ion-item class="item-icon-left positive  " id="kontakt2-list-item11">
                <i class="icon ion-map"></i>Adresse
                <span class="item-note">1010 Wien, Stephansplatz 6</span>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 283.2px; height: 32px;"></div>
        <p id="kontakt2-markdown11" style="color:#646464;" class=" ">Nehmen Sie unsere Angebote an und kontaktieren Sie uns. Wir haben sehr viele Mitarbeiter die Ihnen gerne durch Ihre schwere Zeit helfen wollen.</p>
    </ion-content>
</ion-view>