<ion-view title="Lerncafés" hide-nav-bar="true" id="page40" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h2 id="lerncafS-heading85" style="color:#00A3A3;font-weight:300;text-align:center;" class=" ">Lerncafés</h2>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
        <h4 id="lerncafS-heading86" style="color:#4C4C4C;" class=" ">In unseren Lerncafés erhalten Kinder und Jugendliche aus sozial benachteiligten Familien kostenlose Unterstützung beim Lernen und damit das Rüstzeug für bessere Zukunftschancen.</h4>
        <p id="lerncafS-markdown67" class=" "></p>
        <p id="lerncafS-markdown68" class=" ">Nicht alle Kinder können die Schule und die ihnen gestellten Hausaufgaben ohne Hilfe bewältigen. Mit den Lerncafés bieten wir Ihren Kindern kostenlose Lern- und Nachmittagsbetreuung. Unser Angebot richtet sich in besonderem Maße an Kinder mit
            Migrationshintergrund, grundsätzlich stehen die Lerncafés, sofern es der Platz erlaubt, jedoch allen Kindern offen. Neben der gezielten Lernhilfe, geht es auch darum, Ihren Kindern Freude am Lernen zu vermitteln.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="lerncafS-heading87" style="color:#4C4C4C;" class=" ">Was wir gemeinsam erreichen wollen</h4>
        <p id="lerncafS-markdown69" class=" ">Durch altersgerechte Aufgabenbetreuung und Lernen in der Gruppe unterstützen wir den Weg zum Pflichtschulabschluss. Im Lerncafé fördern wir die Talente Ihrer Kinder, stärken das Selbstbewusstsein sowie den Gemeinschaftssinn und der Spaß an der
            Sache darf natürlich nicht zu kurz kommen.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="lerncafS-heading88" style="color:#4C4C4C;" class=" ">Wie kann Ihr Kind teilnehmen?</h4>
        <p id="lerncafS-markdown70" class=" ">Kinder und Jugendliche aus sozial benachteiligten Familien zwischen 6 und 15 Jahren können freiwillig und kostenlos am Angebot der Lerncafés teilnehmen. Voraussetzung ist der Bedarf und die Bereitschaft zur regelmäßigen Teilnahme.</p>
        <p id="lerncafS-markdown72"
        class=" ">Wenn Ihr Kind in eines unserer Lerncafés kommen möchte, rufen Sie uns bitte einfach an und vereinbaren Sie einen Termin für ein gemeinsames Aufnahmegespräch, bei dem wir auch Ihr Kind gerne kennenlernen würden.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="lerncafS-heading89" style="color:#4C4C4C;" class=" ">Infofolder Lerncafé</h4>
        <ion-list id="lerncafS-list30" class=" ">
            <ion-item class="item-icon-left calm  " id="lerncafS-list-item82" href="#" onclick="window.open('https://www.caritas-wien.at/fileadmin/storage/wien/hilfe-angebote/asyl-integration/ausbildung/lerncafe-folder.pdf', '_system', 'location=yes'); return false;">
                <i class="icon ion-information"></i>PDF</ion-item>
        </ion-list>
        <h4 id="lerncafS-heading91" style="color:#4C4C4C;" class=" ">Infofolder Lerncafé NÖ</h4>
        <ion-list id="lerncafS-list28" class=" ">
            <ion-item class="item-icon-left calm  " id="lerncafS-list-item86" href="#" onclick="window.open('https://www.caritas-wien.at/fileadmin/storage/wien/hilfe-angebote/asyl-integration/ausbildung/lerncafe-noe-folder.pdf', '_system', 'location=yes'); return false;">
                <i class="icon ion-information"></i>PDF</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="lerncafS-heading90" style="color:#4C4C4C;" class=" ">Lerncafé Hebbelplatz</h4>
        <ion-list id="lerncafS-list29" class=" ">
            <ion-item class="item-icon-left positive  " id="lerncafS-list-item83" href="tel:0664 848 25 83">
                <i class="icon ion-android-call"></i>0664 848 25 83</ion-item>
            <ion-item class="item-icon-left positive  " id="lerncafS-list-item84" href="mailto:lerncafes@caritas-wien.at">
                <i class="icon ion-email"></i>Mail</ion-item>
            <ion-item class="item-icon-left positive  " id="lerncafS-list-item85">
                <i class="icon ion-map"></i>https://www.google.at/maps/place/Hebbelpl.+5,+1100+Wien/@48.1659744,16.3763972,17z/data=!3m1!4b1!4m5!3m4!1s0x476da9bf00229145:0x7d1e2fba4be5b8cc!8m2!3d48.1659744!4d16.3785859?hl=ro</ion-item>
            <ion-item class="item-icon-left positive  "
            id="lerncafS-list-item91">
                <i class="icon ion-android-alarm-clock"></i>Mo-Mi 13.30-18.00</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="lerncafS-heading92" style="color:#4C4C4C;" class=" ">Lerncafé Pfarre Franz von Sales</h4>
        <ion-list id="lerncafS-list31" class=" ">
            <ion-item class="item-icon-left positive  " id="lerncafS-list-item88" href="tel:0664 848 25 83">
                <i class="icon ion-android-call"></i>0664 848 25 83</ion-item>
            <ion-item class="item-icon-left positive  " id="lerncafS-list-item89" href="mailto:lerncafes@caritas-wien.at">
                <i class="icon ion-email"></i>Mail</ion-item>
            <ion-item class="item-icon-left positive  " id="lerncafS-list-item90" href="#" onclick="window.open('https://www.google.at/maps/place/Holeypl.+1,+1100+Wien/@48.1558663,16.3747367,17z/data=!3m1!4b1!4m5!3m4!1s0x476da9988710f3c5:0xa22284bf366f3634!8m2!3d48.1558663!4d16.3769254?hl=ro', '_system', 'location=yes'); return false;">
                <i class="icon ion-map"></i>Holeyplatz 1 / 1100</ion-item>
            <ion-item class="item-icon-left positive  " id="lerncafS-list-item87">
                <i class="icon ion-android-alarm-clock"></i>Mo-Mi 13.30-18.00</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
    </ion-content>
</ion-view>