<ion-view title="Mobile Notversorgung" hide-nav-bar="true" id="page21" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h2 id="mobileNotversorgung-heading39" style="color:#00A3A3;font-weight:300;text-align:center;" class=" ">Mobile Notversorgung</h2>
        <div class="">
            <img src="img/XJh7tWjfS0qy0FucEXXy_Mobile Notversorgung.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <button id="mobileNotversorgung-button37" class=" button button-calm  button-block ">Canisibus</button>
        <button id="mobileNotversorgung-button38" class=" button button-calm  button-block ">Louise-Bus</button>
        <button id="mobileNotversorgung-button39" class=" button button-calm  button-block ">Kältetelefon</button>
        <button id="mobileNotversorgung-button40" class=" button button-calm  button-block ">Streetwork</button>
    </ion-content>
</ion-view>