<ion-view title="Notquartiere für Flüchtlinge" hide-nav-bar="true" id="page45" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h2 id="notquartiereFRFlChtlinge-heading116" style="color:#00A3A3;font-weight:300;text-align:center;" class=" ">Notquartiere für Flüchtlinge</h2>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
        <h4 id="notquartiereFRFlChtlinge-heading117" style="color:#4C4C4C;" class=" ">In unseren Notquartieren finden obdachlose Flüchtlinge vorübergehend Unterkunft.</h4>
        <p id="notquartiereFRFlChtlinge-markdown94" class=" "></p>
        <p id="notquartiereFRFlChtlinge-markdown95" class=" ">Wir bieten mittellose Menschen auf der Flucht einen Schlafplatz und eine Versorgung mit dem Lebenswichtigsten. Im Notquartier in Maria Enzersdorf können wir 90 Frauen, Männer und Kinder aufnehmen, im 19. Bezirk in Wien 250 schutzsuchende Menschen.
            200 Menschen finden in unserem Notquartier im 15. Bezirk Zuflucht.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="notquartiereFRFlChtlinge-heading118" style="color:#4C4C4C;" class=" ">Was wir gemeinsam erreichen wollen</h4>
        <p id="notquartiereFRFlChtlinge-markdown97" class=" ">Der Schutz vor Obdachlosigkeit ist das oberste Ziel, gefolgt von der Versorgung mit dem Notwendigsten (Verpflegung, Ausgabe von Kleidung).</p>
        <h4 id="notquartiereFRFlChtlinge-heading119" style="color:#4C4C4C;" class=" ">Wer kann bei uns wohnen?</h4>
        <p id="notquartiereFRFlChtlinge-markdown98" class=" ">Die Zuweisung eines Wohnplatzes erfolgt ausschließlich durch die Stadt Wien oder das Land NÖ. Die Caritas Wien übernimmt die laufende Betreuung.</p>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
    </ion-content>
</ion-view>