<ion-view title="Psychosoziale Angebote" hide-nav-bar="true" id="page37" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h2 id="psychosozialeAngebote-heading69" style="color:#00A3A3;font-weight:300;text-align:center;" class=" ">Psychosoziale Angebote</h2>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
        <h4 id="psychosozialeAngebote-heading70" style="color:#4C4C4C;" class=" ">Wir bieten mit dem Projekt SINTEM interkulturelle psychotherapeutische und psychologische Betreuung für Flüchtlinge in Wien und Niederösterreich. Gerade als Flüchtling ist man nicht nur aufgrund der traumatischen Erfahrungen im Heimatland, sondern
            auch durch die schwierigen Umstände im Aufnahmeland mehrfach belastet.</h4>
        <p id="psychosozialeAngebote-markdown50" class=" "></p>
        <p id="psychosozialeAngebote-markdown51" class=" ">Mit dem Projekt SINTEM (Tschetschenisch für „Seelisches Wohlbefinden“) in Wien und Niederösterreich beraten und behandeln wir Einzelpersonen, Paare, Familien und Jugendliche ab 16 Jahre, die an den Folgen traumatischer Erlebnisse (Schlafstörungen,
            Konzentrationsprobleme, Depressionen, Schmerzsymptome usw.) und der unsicheren Situation im Aufnahmeland (Asylverfahren) leiden.</p>
        <p id="psychosozialeAngebote-markdown54" class=" ">Unsere TherapeutInnen sind alle spezifisch in Traumatherapie geschult und arbeiten mit erfahrenen DolmetscherInnen in der Muttersprache der Betroffenen.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="psychosozialeAngebote-heading71" style="color:#4C4C4C;" class=" ">Sie brauchen Unterstützung?</h4>
        <p id="psychosozialeAngebote-markdown52" class=" ">Unser Angebot ist kostenlos. Wenn Sie in Wien leben, wenden Sie sich bitte telefonisch oder per E-Mail an das Familienzentrum Wien und melden sie sich über unser Anmeldeformular an.</p>
        <p id="psychosozialeAngebote-markdown55" class=" ">Wenn Sie in Niederösterreich leben, wenden Sie sich bitte an das Familienzentrum Wr. Neustadt unter 0676 4234034. Persönliche Erreichbarkeit Montag bis Freitag 9-12, danach sprechen Sie bitte auf Band, Sie werden zurückgerufen.</p>
        <div class="spacer"
        style="width: 283px; height: 18px;"></div>
        <h4 id="psychosozialeAngebote-heading73" style="color:#4C4C4C;" class=" ">Familienzentrum Wien</h4>
        <ion-list id="psychosozialeAngebote-list22" class=" ">
            <ion-item class="item-icon-left calm  " id="psychosozialeAngebote-list-item71" href="tel:01 481 54 81 ">
                <i class="icon ion-android-call"></i>Tel. 01 481 54 81</ion-item>
            <ion-item class="item-icon-left positive  " id="psychosozialeAngebote-list-item72" href="mailto:fz-wien@caritas-wien.at">
                <i class="icon ion-email"></i>Mail</ion-item>
            <ion-item class="item-icon-left positive  " id="psychosozialeAngebote-list-item73" href="#" onclick="window.open('https://www.google.at/maps/place/Wiedner+Hauptstra%C3%9Fe+140,+1050+Wien/@48.183237,16.3578151,17z/data=!3m1!4b1!4m5!3m4!1s0x476da82da7bfd76b:0xc6eb10945b9c140f!8m2!3d48.183237!4d16.3600038?hl=ro', '_system', 'location=yes'); return false;">
                <i class="icon ion-map"></i>Wiedner Hauptstraße 140</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
    </ion-content>
</ion-view>