<ion-view title="Treffpunkt Österreich" hide-nav-bar="true" id="page36" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h2 id="treffpunktSterreich-heading64" style="color:#00A3A3;font-weight:300;text-align:center;" class=" ">Treffpunkt Österreich</h2>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
        <h4 id="treffpunktSterreich-heading65" style="color:#4C4C4C;" class=" ">Mit dem Projekt Treffpunkt Österreich unterstützen wir Asylberechtigte und subsidiär Schutzberechtigte in Österreich auf ihrem Integrationsweg und bieten Beratung, Deutschkurse sowie Hilfe bei der Arbeitsuche an.</h4>
        <p id="treffpunktSterreich-markdown46"
        class=" "></p>
        <p id="treffpunktSterreich-markdown47" class=" ">Unsere BeraterInnen informieren Sie bei rechtlichen und sozialen Fragen und unterstützen bei Anträgen oder bei der Wohnungs- und Arbeitssuche. Auch bei Fragen zu Schulen, Kindergärten und für die Unterstützung bei Kontakten zu Behörden können
            Sie sich an uns wenden. Wir bieten auch kostenlose Deutschkurse mit Kinderbetreuung an.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="treffpunktSterreich-heading66" style="color:#4C4C4C;" class=" ">Was wir gemeinsam erreichen wollen</h4>
        <p id="treffpunktSterreich-markdown48" class=" ">Durch die individuelle Beratung und durch unsere Unterstützung beim Erlernen und Verbessern der Sprache wollen wir konkrete Probleme lösen und Ihnen Sicherheit im Umgang mit den Herausforderungen des täglichen Lebens geben.</p>
        <div class="spacer"
        style="width: 283px; height: 18px;"></div>
        <h4 id="treffpunktSterreich-heading67" style="color:#4C4C4C;" class=" ">Wie können Sie teilnehmen?</h4>
        <p id="treffpunktSterreich-markdown49" class=" ">Wir richten uns an Asylberechtigte und subsidiär Schutzberechtigte. Unser Angebot ist kostenlos. Bitte rufen Sie uns einfach an und vereinbaren Sie ein persönliches Gespräch oder kommen Sie während unserer Öffnungszeiten in unsere Beratungsstelle.</p>
        <div
        class="spacer" style="width: 283px; height: 18px;"></div>
            <h4 id="treffpunktSterreich-heading68" style="color:#4C4C4C;" class=" ">Infofolder Deutschkurse und Beratung NÖ</h4>
            <ion-list id="treffpunktSterreich-list23" class=" ">
                <ion-item class="item-icon-left calm  " id="treffpunktSterreich-list-item68" href="#" onclick="window.open('https://www.caritas-wien.at/fileadmin/storage/wien/hilfe-angebote/asyl-integration/beratung-migrantinnen/deutschkurse-noe.pdf', '_system', 'location=yes'); return false;">
                    <i class="icon ion-information"></i>PDF</ion-item>
            </ion-list>
            <div class="spacer" style="width: 283px; height: 18px;"></div>
            <h4 id="treffpunktSterreich-heading74" style="color:#4C4C4C;" class=" ">Asyl &amp; Integration NÖ Süd</h4>
            <ion-list id="treffpunktSterreich-list24" class=" ">
                <ion-item class="item-icon-left positive  " id="treffpunktSterreich-list-item69" href="tel:01 02622 830 20 ">
                    <i class="icon ion-android-call"></i>01/ 02622 830 20</ion-item>
                <ion-item class="item-icon-left positive  " id="treffpunktSterreich-list-item74" href="mailto:asylundintegration-noe@caritas-wien.at">
                    <i class="icon ion-email"></i>Mail</ion-item>
                <ion-item class="item-icon-left positive  " id="treffpunktSterreich-list-item70" href="#" onclick="window.open('https://www.google.at/maps/place/Wr.+Str.+56,+2700+Wiener+Neustadt/@47.8169651,16.243105,17z/data=!3m1!4b1!4m5!3m4!1s0x476dcb972bf605c9:0x940b0e5d3a4a1a09!8m2!3d47.8169651!4d16.2452937?hl=ro', '_system', 'location=yes'); return false;">
                    <i class="icon ion-map"></i>Wiener Straße 56 / 2700</ion-item>
            </ion-list>
            <div class="spacer" style="width: 283px; height: 55px;"></div>
    </ion-content>
</ion-view>