<ion-view title="Unsere Häuser" hide-nav-bar="true" id="page17" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h2 id="unsereHUser-heading28" style="color:#00A3A3;font-weight:300;text-align:center;" class=" ">Unsere Häuser</h2>
        <div class="spacer" style="width: 300px; height: 45px;"></div>
        <div class="list card " id="unsereHUser-card21">
            <ion-item class="item-icon-left positive  " id="unsereHUser-list-item32">
                <i class="icon ion-android-home"></i>Haus St. Bernadette</ion-item>
            <div class=" item item-image">
                <img src="img/PMXyh6F6TvOT3DgrSjIi_csm_st-bernadette-pflegehaus-14-c-klaus-pichler_f49f260817.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-item class="item-icon-left  " id="unsereHUser-list-item35">
                <i class="icon ion-ios-telephone"></i>Tel. 02239 2306</ion-item>
            <ion-item class="item-icon-left  " id="unsereHUser-list-item34" href="mailto:haus-st-bernadette@caritas-wien.at">
                <i class="icon ion-ios-email-outline"></i>EMail schicken</ion-item>
            <ion-item class="item-icon-left  " id="unsereHUser-list-item33" href="#" onclick="window.open('http://tinyurl.com/jb9e9en', '_system', 'location=yes'); return false;">
                <i class="icon ion-map"></i>Im Maps öffnen</ion-item>
        </div>
        <div class="list card " id="unsereHUser-card23">
            <ion-item class="item-icon-left positive  " id="unsereHUser-list-item40">
                <i class="icon ion-android-home"></i>Haus Baden</ion-item>
            <div class=" item item-image">
                <img src="img/BqZPSLtDQTC0iwJAxzPh_csm_haus-st-leopold-02-web_9ce3475df1.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-item class="item-icon-left  " id="unsereHUser-list-item41">
                <i class="icon ion-ios-telephone"></i>Tel. 02252 483 18</ion-item>
            <ion-item class="item-icon-left  " id="unsereHUser-list-item42" href="mailto:haus-baden@caritas-wien.at">
                <i class="icon ion-ios-email-outline"></i>EMail schicken</ion-item>
            <ion-item class="item-icon-left  " id="unsereHUser-list-item43" href="#" onclick="window.open('http://tinyurl.com/he88wjy', '_system', 'location=yes'); return false;">
                <i class="icon ion-map"></i>Im Maps öffnen</ion-item>
        </div>
        <div class="list card " id="unsereHUser-card24">
            <ion-item class="item-icon-left positive  " id="unsereHUser-list-item44">
                <i class="icon ion-android-home"></i>Haus Schönbrunn</ion-item>
            <div class=" item item-image">
                <img src="img/F6iM8DxGSjeqk6kXo1IR_csm_fassade_91a93a22be.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-item class="item-icon-left  " id="unsereHUser-list-item45">
                <i class="icon ion-ios-telephone"></i>Tel. 01 812 393 80</ion-item>
            <ion-item class="item-icon-left  " id="unsereHUser-list-item46" href="mailto:haus-schoenbrunn@caritas-wien.at">
                <i class="icon ion-ios-email-outline"></i>EMail schicken</ion-item>
            <ion-item class="item-icon-left  " id="unsereHUser-list-item47" href="#" onclick="window.open('http://tinyurl.com/jt4s649', '_system', 'location=yes'); return false;">
                <i class="icon ion-map"></i>Im Maps öffnen</ion-item>
        </div>
        <div class="list card " id="unsereHUser-card25">
            <ion-item class="item-icon-left positive  " id="unsereHUser-list-item48">
                <i class="icon ion-android-home"></i>Haus St. Elisabeth</ion-item>
            <div class=" item item-image">
                <img src="img/LXP13MPHSbioHxS7FfFJ_csm_st-elisabeth-fassade-web_314a6ad735.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-item class="item-icon-left  " id="unsereHUser-list-item49">
                <i class="icon ion-ios-telephone"></i>Tel. 01 369 24 53</ion-item>
            <ion-item class="item-icon-left  " id="unsereHUser-list-item50" href="mailto:haus-st-elisabeth@caritas-wien.at">
                <i class="icon ion-ios-email-outline"></i>EMail schicken</ion-item>
            <ion-item class="item-icon-left  " id="unsereHUser-list-item51" href="#" onclick="window.open('http://tinyurl.com/j7j2ovt', '_system', 'location=yes'); return false;">
                <i class="icon ion-map"></i>Im Maps öffnen</ion-item>
        </div>
        <div class="list card " id="unsereHUser-card26">
            <ion-item class="item-icon-left positive  " id="unsereHUser-list-item52">
                <i class="icon ion-android-home"></i>Haus St. Martin</ion-item>
            <div class=" item item-image">
                <img src="img/iXrEFwrER9jl8tMeRoPB_csm_aussen_garten_32d7c3394e.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-item class="item-icon-left  " id="unsereHUser-list-item53">
                <i class="icon ion-ios-telephone"></i>Tel. 01 272 83 24</ion-item>
            <ion-item class="item-icon-left  " id="unsereHUser-list-item54" href="mailto:haus-st-martin@caritas-wien.at">
                <i class="icon ion-ios-email-outline"></i>EMail schicken</ion-item>
            <ion-item class="item-icon-left  " id="unsereHUser-list-item55" href="#" onclick="window.open('http://tinyurl.com/j6wlx8d', '_system', 'location=yes'); return false;">
                <i class="icon ion-map"></i>Im Maps öffnen</ion-item>
        </div>
        <div class="list card " id="unsereHUser-card27">
            <ion-item class="item-icon-left positive  " id="unsereHUser-list-item56">
                <i class="icon ion-android-home"></i>Haus Franz Borgia</ion-item>
            <div class=" item item-image">
                <img src="img/CUMJaJMcQuGH4pY3iU81_csm_sommerfest1_8122ec9d64.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-item class="item-icon-left  " id="unsereHUser-list-item57">
                <i class="icon ion-ios-telephone"></i>Tel. 01 440 23 76</ion-item>
            <ion-item class="item-icon-left  " id="unsereHUser-list-item58" href="mailto:haus-franz-borgia@caritas-wien.at">
                <i class="icon ion-ios-email-outline"></i>EMail schicken</ion-item>
            <ion-item class="item-icon-left  " id="unsereHUser-list-item59" href="#" onclick="window.open('http://tinyurl.com/jyuvue6', '_system', 'location=yes'); return false;">
                <i class="icon ion-map"></i>Im Maps öffnen</ion-item>
        </div>
    </ion-content>
</ion-view>