<ion-view title="Warum Hilfe?" hide-nav-bar="true" id="page6" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h2 id="warumHilfe-heading23" style="color:#00A3A3;font-weight:300;text-align:center;" class=" ">Warum Hilfe?</h2>
        <div class="spacer" style="width: 300px; height: 45px;"></div>
        <p id="warumHilfe-markdown1" style="color:#646464;" class=" ">Alle verwitweten, geschiedenen oder getrennt lebenden, alleinerziehnden Personen unabhängig ihrer religiösen, politischen oder weltanschaulichen Zugehörigkeit stehen einer großen Verantwortung gegenüber. Jeder kommt unterschiedlich gut mit dieser
            Situation zurecht. Oftmals kommt es aber dazu, dass sich eben diese Menschen fühlen, als ob es niemanden auf der Welt gibt, der ihnen helfen kann oder helfen möchte und kapseln sich in Folge dessen immer mehr und mehr ab, wodurch sich ihre
            Probleme nur noch verschlimmern.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="warumHilfe-heading25" style="color:#4C4C4C;" class=" ">Caritas Projekte</h4>
        <p id="warumHilfe-markdown10" style="color:#646464;" class=" ">Der erste und wichtigste Schritt ist zu erkennen, dass man selbst nicht perfekt ist und das Recht hat Hilfe anzunehmen. Beraten Sie sich mit Freunden, Freunden oder nehmen Sie eines der vielen professionellen Angebote wahr. Dort können Sie unter
            anderem Leute treffen, die in der selben Situation sind wie Sie, als auch mit Leuten reden, die viel Erfahrung mit Leuten in schwierigen Situationen haben.</p>
        <div class="spacer" style="width: 300px; height: 45px;"></div>
    </ion-content>
</ion-view>