<ion-view title="WGs für unbegleitete minderjährige Flüchtlinge" hide-nav-bar="true" id="page46" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h2 id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-heading121" style="color:#00A3A3;font-weight:300;text-align:center;" class=" ">WGs für unbegleitete minderjährige Flüchtlinge</h2>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
        <h4 id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-heading122" style="color:#4C4C4C;" class=" ">Die jungen Flüchtlinge in unseren Wohngemeinschaften sind ohne Familie nach Österreich geflohen. Oft haben sie ihre Angehörigen im Heimatland oder auf der Flucht verloren.</h4>
        <p id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-markdown99" class=" "></p>
        <p id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-markdown100" class=" ">In den Wohngemeinschafen begleiten unsere pädagogisch geschulten MitarbeiterInnen die Jugendlichen in ihrem Alltag. Ziel ist es den Jugendlichen, u.a. durch einen geregelten Tagesablauf und verlässliche Beziehungsangebote, Sicherheit und Selbstvertrauen
            zu geben, um Ihnen die Neuorientierung in einer unbekannten Umgebung zu erleichtern.</p>
        <p id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-markdown103" class=" ">Mit den Nachbetreuungsplätzen wollen wir unbegleiteten minderjährigen AsylwerberInnen, die bisher eine WG bewohnt und das 18. Lebensjahr vollendet haben, den Einstieg in das Erwachsenenleben erleichtern.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-heading123" style="color:#4C4C4C;" class=" ">Was wir gemeinsam erreichen wollen</h4>
        <p id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-markdown101" class=" ">Wir möchten den jungen Flüchtlingen eine wertschätzende und altersentsprechende Umgebung bieten. Neben der Persönlichkeitsentwicklung ist das langfristige Ziel, Teilhabe, Ausbildung, Arbeit und somit ein selbständiges Leben zu ermöglichen.</p>
        <div
        class="spacer" style="width: 283px; height: 18px;"></div>
            <h4 id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-heading124" style="color:#4C4C4C;" class=" ">Wer kann bei uns wohnen?</h4>
            <p id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-markdown102" class=" ">Die Zuweisung eines Wohnplatzes erfolgt in Wien durch den Fonds Soziales Wien, in Niederösterreich durch die Kinder- und Jugendhilfe des Landes NÖ, in der WG Haus Sarah durch die Kinder- und Jugendhilfe des Landes Burgenland.</p>
            <div class="spacer"
            style="width: 283px; height: 18px;"></div>
            <h4 id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-heading125" style="color:#4C4C4C;" class=" ">Standorte</h4>
            <div class="list card " id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-card210">
                <ion-item class="item-icon-left  " id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-list-item111">
                    <i class="icon ion-android-home"></i>WG Refugio</ion-item>
                <div class="item item-body " id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-list-item-container2">
                    <ion-list id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-list17" class=" ">
                        <ion-item class="item-icon-left calm  " id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-list-item110" href="tel:01 481 54 81 ">
                            <i class="icon ion-android-call"></i>01 894 02 80</ion-item>
                        <ion-item class="item-icon-left calm  " id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-list-item107" href="tel:wg.refugio@caritas-wien.at">
                            <i class="icon ion-email"></i>Mail</ion-item>
                        <ion-item class="item-icon-left calm  " id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-list-item108" href="#" onclick="window.open('https://www.google.at/maps/place/M%C3%BCllnergasse+6A,+1090+Wien/@48.2203517,16.3610774,17z/data=!3m1!4b1!4m5!3m4!1s0x476d07b98d0afd67:0x2bf78be9af4cb93a!8m2!3d48.2203517!4d16.3632661?hl=ro', '_system', 'location=yes'); return false;">
                            <i class="icon ion-map"></i>Müllnergasse 6a / 1990</ion-item>
                    </ion-list>
                </div>
            </div>
            <ion-list id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-list18" class=" ">
                <ion-item class="item-icon-left  " id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-list-item109">
                    <i class="icon ion-android-home"></i>WG Yunus</ion-item>
                <ion-item class="item-icon-left calm  " id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-list-item112" href="tel:01 892 26 59">
                    <i class="icon ion-android-call"></i>01 892 26 59</ion-item>
                <ion-item class="item-icon-left calm  " id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-list-item116" href="tel:wg.yunus@caritas-wien.at">
                    <i class="icon ion-email"></i>Mail</ion-item>
                <ion-item class="item-icon-left calm  " id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-list-item118" href="#" onclick="window.open('https://www.google.at/maps/place/Grangasse+6,+1150+Wien/@48.1943072,16.328557,17z/data=!3m1!4b1!4m5!3m4!1s0x476da81da0b0df19:0x7f0b57a6c08a5771!8m2!3d48.1943072!4d16.3307457?hl=ro', '_system', 'location=yes'); return false;">
                    <i class="icon ion-map"></i>Grangasse 6 1150 Wien</ion-item>
            </ion-list>
            <div class="spacer" style="width: 283px; height: 55px;"></div>
    </ion-content>
</ion-view>