<ion-view title="Wiener Service" hide-nav-bar="true" id="page26" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h2 id="wienerService-heading44" style="color:#00A3A3;font-weight:300;text-align:center;" class=" ">Wiener Service</h2>
        <div class="spacer" style="width: 300px; height: 45px;"></div>
        <h4 id="wienerService-heading17" style="color:#4C4C4C;" class=" ">P7</h4>
        <p id="wienerService-markdown18" style="color:#4C4C4C;" class=" ">Das P7 ist zentrale Erstanlaufstelle für wohnungslose Menschen in Wien. Hier erfassen wir in Kooperation mit dem Fonds Soziales Wien alle Nachtnotquartiersbetten der Wiener Wohnungslosenhilfe und vermitteln erwachsene, akut wohnungslose Menschen
            auf freie Plätze.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="wienerService-heading16" style="color:#4C4C4C;" class=" ">Unser Angebot</h4>
        <ion-list id="wienerService-list8" class=" ">
            <ion-list id="wienerService-list9" class=" ">
                <ion-item id="wienerService-list-item22" class="  ">Beratung durch SozialarbeiterInnen</ion-item>
                <ion-item id="wienerService-list-item23" class="  ">Vermittlung in Einrichtungen</ion-item>
            </ion-list>
        </ion-list>
        <ion-list id="wienerService-list10" class=" ">
            <ion-item id="wienerService-list-item25" class="  ">Krisenintervention &amp; Notversorgung</ion-item>
            <ion-item id="wienerService-list-item26" class="  ">Abklärung finanzieller Ansprüche</ion-item>
            <ion-list id="wienerService-list11" class=" ">
                <ion-item id="wienerService-list-item19" class="  ">Abklärung von Rechtsansprüchen</ion-item>
                <ion-item id="wienerService-list-item20" class="  ">Hilfestellung im Behördenverkehr</ion-item>
            </ion-list>
        </ion-list>
        <div class="spacer" style="width: 282.8px; height: 40px;"></div>
    </ion-content>
</ion-view>