<ion-view title="Wohnhäusere Flüchtlinge" hide-nav-bar="true" id="page35" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h2 id="wohnhUsereFlChtlinge-heading120" style="color:#00A3A3;font-weight:300;text-align:center;" class=" ">Wohnhäuser</h2>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
        <h4 id="wohnhUsereFlChtlinge-heading126" style="color:#4C4C4C;" class=" ">Was wir gemeinsam erreichen wollen</h4>
        <p id="wohnhUsereFlChtlinge-markdown105" class=" "></p>
        <p id="wohnhUsereFlChtlinge-markdown106" class=" ">Unser wichtigstes Ziel ist es, Menschen während ihres Asylverfahrens zur Seite zu stehen, ihnen zu helfen, sich in einer neuen Umgebung zurecht zu finden und gemeinsam Zukunftsperspektiven zu erarbeiten.</p>
        <p id="wohnhUsereFlChtlinge-markdown107"
        class=" ">Mit den Nachbetreuungsplätzen wollen wir unbegleiteten minderjährigen AsylwerberInnen, die bisher eine WG bewohnt und das 18. Lebensjahr vollendet haben, den Einstieg in das Erwachsenenleben erleichtern.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="wohnhUsereFlChtlinge-heading127" style="color:#4C4C4C;" class=" ">Wer kann bei uns wohnen?</h4>
        <p id="wohnhUsereFlChtlinge-markdown108" class=" ">Die Zuweisung eines Wohnplatzes erfolgt durch den Fond Soziales Wien (FSW). Die Caritas Wien übernimmt die laufende Betreuung.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="wohnhUsereFlChtlinge-heading129" style="color:#4C4C4C;" class=" ">Standorte</h4>
        <div class="list card " id="wohnhUsereFlChtlinge-card29">
            <ion-item class="item-icon-left  " id="wohnhUsereFlChtlinge-list-item119">
                <i class="icon ion-android-home"></i>Haus Daria</ion-item>
            <div class="item item-body " id="wohnhUsereFlChtlinge-list-item-container3">
                <ion-list id="wohnhUsereFlChtlinge-list41" class=" ">
                    <ion-item class="item-icon-left calm  " id="wohnhUsereFlChtlinge-list-item120" href="tel:01 602 60 40 ">
                        <i class="icon ion-android-call"></i>01 602 60 40</ion-item>
                    <ion-item class="item-icon-left calm  " id="wohnhUsereFlChtlinge-list-item121" href="tel:haus.daria@caritas-wien.at">
                        <i class="icon ion-email"></i>Mail</ion-item>
                    <ion-item class="item-icon-left calm  " id="wohnhUsereFlChtlinge-list-item122" href="#" onclick="window.open('https://www.google.at/maps/place/Braunspergengasse+22,+1100+Wien/@48.1725667,16.3534932,17z/data=!3m1!4b1!4m5!3m4!1s0x476da8354297190f:0x2c649aa07514b96c!8m2!3d48.1725667!4d16.3556819?hl=ro', '_system', 'location=yes'); return false;">
                        <i class="icon ion-map"></i>Braunspergengasse 22 / 1100</ion-item>
                    <ion-item class="item-icon-left calm  " id="wohnhUsereFlChtlinge-list-item127" href="#" onclick="window.open('https://www.caritas-wien.at/fileadmin/storage/wien/hilfe-angebote/asyl-integration/wohnen/haus-daria-folder.pdf', '_system', 'location=yes'); return false;">
                        <i class="icon ion-information"></i>PDF</ion-item>
                </ion-list>
            </div>
        </div>
        <ion-list id="wohnhUsereFlChtlinge-list43" class=" ">
            <ion-item class="item-icon-left  " id="wohnhUsereFlChtlinge-list-item123">
                <i class="icon ion-android-home"></i>Haus Karwan</ion-item>
            <ion-item class="item-icon-left calm  " id="wohnhUsereFlChtlinge-list-item124" href="tel:01 409 23 31 ">
                <i class="icon ion-android-call"></i>01 409 23 31</ion-item>
            <ion-item class="item-icon-left calm  " id="wohnhUsereFlChtlinge-list-item125" href="tel:haus.karwan@caritas-wien.at">
                <i class="icon ion-email"></i>Mail</ion-item>
            <ion-item class="item-icon-left calm  " id="wohnhUsereFlChtlinge-list-item126" href="#" onclick="window.open('https://www.google.at/maps/place/Grangasse+6,+1150+Wien/@48.1943072,16.328557,17z/data=!3m1!4b1!4m5!3m4!1s0x476da81da0b0df19:0x7f0b57a6c08a5771!8m2!3d48.1943072!4d16.3307457?hl=ro', '_system', 'location=yes'); return false;">
                <i class="icon ion-map"></i>Blindengasse 44 / 1080</ion-item>
            <ion-item class="item-icon-left calm  " id="wohnhUsereFlChtlinge-list-item128" href="#" onclick="window.open('https://www.caritas-wien.at/fileadmin/storage/wien/hilfe-angebote/asyl-integration/wohnen/haus-karwan-folder.pdf', '_system', 'location=yes'); return false;">
                <i class="icon ion-information"></i>PDF</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
    </ion-content>
</ion-view>