<ion-view title="Wohnen" hide-nav-bar="true" id="page33" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h2 id="wohnen-heading50" style="color:#00A3A3;font-weight:300;text-align:center;" class=" ">Wohnen</h2>
        <div class="spacer" style="width: 283px; height: 55px;"></div>
        <a ui-sref="wohnhUsereFlChtlinge" id="wohnen-button82" class=" button button-calm  button-block ">Wohnhäuser</a>
        <a ui-sref="wGsFRUnbegleiteteMinderjHrigeFlChtlinge" id="wohnen-button83" class=" button button-calm  button-block ">Unbegleitete minderjährige Flüchtlinge</a>
        <a ui-sref="notquartiereFRFlChtlinge" id="wohnen-button84" class=" button button-calm  button-block ">Notversorgung</a>
    </ion-content>
</ion-view>