<ion-view title="Wohnungssicherung" hide-nav-bar="true" id="page28" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h2 id="wohnungssicherung-heading45" style="color:#00A3A3;font-weight:300;text-align:center;" class=" ">Wohnungssicherung</h2>
        <div class="spacer" style="width: 300px; height: 45px;"></div>
        <h4 id="wohnungssicherung-heading18" style="color:#4C4C4C;" class=" ">NÖ Ost</h4>
        <p id="wohnungssicherung-markdown25" class=" ">Die Beratungsstelle für Wohnungssicherung unterstützt Sie, wenn Sie als MieterIn in Niederösterreich von Wohnungsverlust bedroht sind und Hilfe beim Erhalt Ihrer Wohnung brauchen.</p>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h4 id="wohnungssicherung-heading19" style="color:#4C4C4C;" class=" ">Unser Angebot</h4>
        <ion-list id="wohnungssicherung-list13" class=" ">
            <ion-list id="wohnungssicherung-list12" class=" ">
                <ion-item id="wohnungssicherung-list-item21" class="  ">Information über Mietreche</ion-item>
            </ion-list>
        </ion-list>
        <ion-list id="wohnungssicherung-list15" class=" ">
            <ion-item id="wohnungssicherung-list-item31" class="  ">Kontaktaufnahme mit VermieterIn</ion-item>
            <ion-list id="wohnungssicherung-list14" class=" ">
                <ion-item id="wohnungssicherung-list-item36" class="  ">Begleitung bei Behördenwegen</ion-item>
                <ion-item id="wohnungssicherung-list-item37" class="  ">Hilfestellung im Behördenverkehr</ion-item>
                <ion-item id="wohnungssicherung-list-item38" class="  ">Erstellung eines Haushaltsplanes</ion-item>
                <ion-item id="wohnungssicherung-list-item39" class="  ">Hilfe bei Ratenvereinbarung</ion-item>
                <ion-item id="wohnungssicherung-list-item60" class="  ">Hilfe bei Mietrückständen</ion-item>
                <ion-item id="wohnungssicherung-list-item61" class="  ">speziellen Beratungsangeboten</ion-item>
            </ion-list>
        </ion-list>
        <div class="spacer" style="width: 282.8px; height: 40px;"></div>
    </ion-content>
</ion-view>