<ion-view title="Wohnhäuser" hide-nav-bar="true" id="page24" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <h2 id="wohnhUser-heading42" style="color:#00A3A3;font-weight:300;text-align:center;" class=" ">Wohnhäuser</h2>
        <div class="">
            <img src="img/QGGxFU99RoYVPsQWPAjb_14653_21267_Bild2.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <button id="wohnhUser-button54" class=" button button-calm  button-block ">Frauen</button>
        <button id="wohnhUser-button55" class=" button button-calm  button-block ">Mütter und Kinder</button>
        <button id="wohnhUser-button56" class=" button button-calm  button-block ">Jugendliche &amp; junge Erwachsene</button>
        <button id="wohnhUser-button60" class=" button button-calm  button-block ">SeniorInnen</button>
        <button id="wohnhUser-button59" class=" button button-calm  button-block ">Menschen mit Behinderung</button>
        <button id="wohnhUser-button58" class=" button button-calm  button-block ">Menschen mitgesundheitlichen Problemen</button>
    </ion-content>
</ion-view>