<ion-view style="" class=" " id="page5" title="Alleinerziehende Person">
    <ion-content class="has-header" padding="true">
        <a class=" button button-positive  button-block " id="alleinerziehendePerson-button13" ui-sref="warumHilfe">Warum Hilfe?</a>
        <div style="width: 283.2px; height: 28px;" class="spacer"></div>
        <a class=" button button-positive  button-block " id="alleinerziehendePerson-button14" ui-sref="kind">Kind</a>
        <div style="width: 283.2px; height: 28px;" class="spacer"></div>
        <a class=" button button-positive  button-block " id="alleinerziehendePerson-button15" ui-sref="rechtliches">Rechtliches</a>
        <div style="width: 283.2px; height: 28px;" class="spacer"></div>
        <a class=" button button-positive  button-block " id="alleinerziehendePerson-button17" ui-sref="literaturempfehlungen">Literaturempfehlungen</a>
        <div style="width: 283.2px; height: 28px;" class="spacer"></div>
        <a class=" button button-positive  button-block " id="alleinerziehendePerson-button16" ui-sref="kontakt">Kontakt</a>
    </ion-content>
</ion-view>