<ion-view title="Alte Person" id="page4" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="altePerson-heading6" style="color:#000000;font-weight:300;text-align:center;" class=" ">Caritas Kontakt</h1>
        <div class="spacer" style="width: 300px; height: 50px;"></div>
        <ion-list id="altePerson-list2" class=" manual-list-fullwidth ">
            <ion-item class="item-icon-left positive  " id="altePerson-list-item3" href="tel:">
                <i class="icon ion-ios-telephone"></i>Telefon (Wien, NÖ)
                <span class="item-note">01 878 12-340</span>
            </ion-item>
            <ion-item class="item-icon-left positive  " id="altePerson-list-item4">
                <i class="icon ion-ios-telephone"></i>Telefon (Wien)
                <span class="item-note">01 87812-350</span>
            </ion-item>
            <ion-item class="item-icon-left positive  " id="altePerson-list-item5" href="mailto:betreuenundpflegen@caritas-wien.at">
                <i class="icon ion-android-mail"></i>E-Mail
                <span class="item-note">betreuenundpflegen@caritas-wien.at</span>
            </ion-item>
            <ion-item class="item-icon-left positive  " id="altePerson-list-item6" href="#" onclick="window.open('http://tinyurl.com/z9kzujh', '_system', 'location=yes'); return false;">
                <i class="icon ion-map"></i>Adresse
                <span class="item-note">Albrechtskreithgasse 19, 1160 Wien</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>