<ion-view style="" class=" " id="page34" title="Asylrechtsberatung">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="asylrechtsberatung-heading55">Asylrechtsberatung</h2>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="asylrechtsberatung-heading56">Die kostenlose Asylrechtsberatung gibt erste Informationen zu unterschiedlichen Rechtsgebieten und unterstützt Flüchtlinge bei ihrem Asylverfahren sowie den damit verbundenen Rechtsfragen.</h4>
        <p class=" " id="asylrechtsberatung-markdown36"></p>
        <p class=" " id="asylrechtsberatung-markdown37">Wir beraten Sie bei Ihrem Asylverfahren und allen damit in Zusammenhang stehenden Rechtsfragen (Familiennachzug, Niederlassungsbewilligung…). Im Anlassfall begleiten wir Sie auch zur Einvernahme, vertreten Sie im Asylverfahren und verfassen Rechtsmittel.</p>
        <div
        style="width: 283px; height: 18px;" class="spacer"></div>
            <h4 class=" " style="color: rgb(76, 76, 76);" id="asylrechtsberatung-heading57">Sie brauchen Unterstützung?</h4>
            <p class=" " id="asylrechtsberatung-markdown38">Wir können Sie als AsylwerberIn in folgenden Sprachen beraten: Russisch, Dari/Farsi, Arabisch, Kurdisch, Chinesisch u.a.
                <br>Unser Beratungs- und Betreuungsangebot ist kostenlos. Sie brauchen jedoch einen Termin. Bitte kommen Sie während der Öffnungszeiten ins Asylzentrum und vereinbaren Sie persönlich den Termin.</p>
            <div style="width: 283px; height: 18px;"
            class="spacer"></div>
            <h4 class=" " style="color: rgb(76, 76, 76);" id="asylrechtsberatung-heading59">Sie brauchen Unterstützung?</h4>
            <p class=" " id="asylrechtsberatung-markdown40">Wir können Sie als AsylwerberIn in folgenden Sprachen beraten: Russisch, Dari/Farsi, Arabisch, Kurdisch, Chinesisch u.a.
                <br>Unser Beratungs- und Betreuungsangebot ist kostenlos. Sie brauchen jedoch einen Termin. Bitte kommen Sie während der Öffnungszeiten ins Asylzentrum und vereinbaren Sie persönlich den Termin.</p>
            <div style="width: 283px; height: 18px;"
            class="spacer"></div>
            <h4 class=" " style="color: rgb(76, 76, 76);" id="asylrechtsberatung-heading63">Asylzentrum Juristischer Journaldienst</h4>
            <ion-list class=" " id="asylrechtsberatung-list19">
                <ion-item style="" href="tel:01 427 88-644" id="asylrechtsberatung-list-item65" class="item-icon-left calm  ">
                    <i class="icon ion-android-call"></i>Tel. 01 427 88-644</ion-item>
                <ion-item style="" href="mailto:asylrechtsberatung@caritas-wien.at" id="asylrechtsberatung-list-item66" class="item-icon-left positive  ">
                    <i class="icon ion-email"></i>Mail</ion-item>
                <ion-item style="" onclick="window.open('https://www.google.at/maps/place/Spitalgasse+5-9,+1090+Wien/@48.216465,16.3488491,17z/data=!3m1!4b1!4m5!3m4!1s0x476d07c0fd41b5a7:0x575503530b4beeea!8m2!3d48.216465!4d16.3510378?hl=ro', '_system', 'location=yes'); return false;"
                href="#" id="asylrechtsberatung-list-item67" class="item-icon-left positive  ">
                    <i class="icon ion-map"></i>Spitalgasse 5-9 / 1090 Wien</ion-item>
            </ion-list>
            <div style="width: 283px; height: 55px;" class="spacer"></div>
    </ion-content>
</ion-view>