<ion-view style="" class=" " id="page11" title="Asyl &amp; Integration" hide-nav-bar="true">
    <ion-content scroll="false" padding="true" class=" manual-remove-top-padding">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="asylIntegration-heading32">Asyl &amp; Integration</h2>
        <h1 class=" " style="color: rgb(0, 0, 0);" id="asylIntegration-heading10"></h1>
        <h1 class=" " style="color: rgb(0, 0, 0);" id="asylIntegration-heading11"></h1>
        <div style="width: 300px; height: 45px;" class="spacer"></div>
        <button class=" button button-calm  button-block " id="asylIntegration-button18">Beratung für AsylwerberInnen</button>
        <button class=" button button-calm  button-block " id="asylIntegration-button23">Ausbildung</button>
        <button class=" button button-calm  button-block " id="asylIntegration-button24">Wohnen</button>
    </ion-content>
</ion-view>