<ion-view style="" class=" " id="page30" title="Asylzentrum">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="asylzentrum-heading12">Asylzentrum</h2>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="asylzentrum-heading47">Als Servicestelle des Fonds Soziales Wien (FSW) ist das Asylzentrum der Caritas für die Grundversorgung in Wien lebender anspruchsberechtigter Flüchtlinge zuständig. Darüber hinaus bieten wir auch Sozialberatung.</h4>
        <p class=" " id="asylzentrum-markdown29"></p>
        <p class=" " id="asylzentrum-markdown30">Wir beraten und unterstützen Sie bei Fragen zum Thema Asyl und Fremdenrecht sowie bei Problemen im sozialen Umfeld. Ein Schwerpunkt unserer Arbeit ist die Abwicklung der Leistungen der Grundversorgung für alle privat wohnenden Anspruchsberechtigten.
            In einem persönlichen Gespräch gehen wir auf Ihre individuelle Situation ein und wollen auch Hilfe zur Selbsthilfe anbieten.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="asylzentrum-heading51">Servicestelle des FSW</h4>
        <p class=" " id="asylzentrum-markdown31">Auszahlung von Miete und Verpflegungsgeld Sach- und Geldleistungen für Schule und Kleidung Krankenversicherung und medizinische Leistungen Information, Beratung, Betreuung Fahrtkosten bei behördlichen Ladungen und Überstellungen Unterbringung
            in einer Grundversorgungseinrichtung in direkter Kooperation mit der Landesleitstelle des FSW</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="asylzentrum-heading53">Sie brauchen Leistungen der Servicestelle des FSW?</h4>
        <p class=" " id="asylzentrum-markdown32">Wir beraten AsylwerberInnen und Asylberechtigte in den ersten vier Monaten nach der Anerkennung, subsidiär Schutzberechtigte und Personen mit Bleiberecht. Das Angebot ist kostenlos. Kommen Sie bitte während unserer Öffnungszeiten in unserer Beratungsstelle
            vorbei.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="asylzentrum-heading54">Sie brauchen Beratung?</h4>
        <p class=" " id="asylzentrum-markdown33">In der Sozialberatungstelle ist das Asylzentrum im Auftrag des FSW für die Sozialberatung im 4. 11. und 16. Bezirk in Wien zuständig und berät AsylwerberInnen, die Grundversorgung erhalten.</p>
        <p class=" " id="asylzentrum-markdown34">Weiters kümmern wir uns um Personen, die in Wien wohnen und nur Krankenversicherung im Rahmen der Grundversorgung erhalten sowie um Menschen, die in einem Caritas-Grundversorgungshaus wohnen.</p>
        <p class=" " id="asylzentrum-markdown35">Das Angebot ist kostenlos. Kommen Sie bitte während unserer Öffnungszeiten in unserer Beratungsstelle vorbei.</p>
        <ion-list class=" " id="asylzentrum-list16">
            <ion-item style="" href="tel:01 427 88-0" id="asylzentrum-list-item29" class="item-icon-left calm  ">
                <i class="icon ion-android-call"></i>Tel. 01 427 88-0</ion-item>
            <ion-item style="" onclick="window.open('https://www.google.at/maps/place/Mariannengasse+11,+1090+Wien/@48.2158876,16.3472698,17z/data=!3m1!4b1!4m5!3m4!1s0x476d07c1a68b3f79:0xf426dc24a691a153!8m2!3d48.2158876!4d16.3494585?hl=ro', '_system', 'location=yes'); return false;"
            href="#" id="asylzentrum-list-item30" class="item-icon-left positive  ">
                <i class="icon ion-map"></i>Mariannengasse 11/ 1090</ion-item>
        </ion-list>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
    </ion-content>
</ion-view>