<ion-view style="" class=" " id="page41" title="Baleh">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="baleh-heading93">Baleh</h2>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="baleh-heading94">Unbegleitet jugendliche Flüchtlinge brauchen besonderen Schutz in Form von altersgerechter Betreuung und Unterstützung auf ihrem Lebens- und Bildungsweg. Da manche Jugendliche in ihren Herkunftsländern oder aufgrund ihrer Fluchtgeschichte nicht
            die Möglichkeit eines regelmäßigen Schulbesuches hatten, bieten wir im Rahmen von Baleh eine Basisbildung an.</h4>
        <p class=" " id="baleh-markdown73"></p>
        <p class=" " id="baleh-markdown74">Unsere TrainierInnen gehen gezielt auf Eure Kenntnisse ein und fördern Euch individuell.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="baleh-heading95">Was wir gemeinsam erreichen möchten</h4>
        <p class=" " id="baleh-markdown75">Die neu erworbenen Kenntnisse sollen Selbstständigkeit fördern und die Integration in Österreich erleichtern.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="baleh-heading96">Wie könnt Ihr teilnehmen</h4>
        <p class=" " id="baleh-markdown76">Wir richten uns an unbegleitete jugendliche Flüchtlinge, die keine oder nur kurze Schulerfahrung erworben haben.</p>
        <p class=" " id="baleh-markdown78">Bitte ruft uns einfach an und vereinbart einen Termin für ein persönliches Gespräch.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="baleh-heading97">Infofolder Baleh</h4>
        <ion-list class=" " id="baleh-list32">
            <ion-item style="" onclick="window.open('https://www.caritas-wien.at/fileadmin/storage/wien/hilfe-angebote/asyl-integration/ausbildung/baleh-folder.pdf', '_system', 'location=yes'); return false;" href="#" id="baleh-list-item92" class="item-icon-left calm  ">
                <i class="icon ion-information"></i>PDF</ion-item>
        </ion-list>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="baleh-heading98">Baleh</h4>
        <ion-list class=" " id="baleh-list33">
            <ion-item style="" href="tel:0664 887 987 82" id="baleh-list-item93" class="item-icon-left positive  ">
                <i class="icon ion-android-call"></i>0664 887 987 82</ion-item>
            <ion-item style="" href="mailto:patricia.velencsics@caritas-wien.at" id="baleh-list-item94" class="item-icon-left positive  ">
                <i class="icon ion-email"></i>Mail</ion-item>
        </ion-list>
        <ion-list class=" " id="baleh-list35">
            <ion-item style="" onclick="window.open('https://www.google.at/maps/place/Hebbelpl.+5,+1100+Wien/@48.1659744,16.3763972,17z/data=!3m1!4b1!4m5!3m4!1s0x476da9bf00229145:0x7d1e2fba4be5b8cc!8m2!3d48.1659744!4d16.3785859?hl=ro', '_system', 'location=yes'); return false;"
            href="#" id="baleh-list-item95" class="item-icon-left positive  ">
                <i class="icon ion-map"></i>Hebbelplatz 5 / 1100</ion-item>
        </ion-list>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
    </ion-content>
</ion-view>