<ion-view style="" class=" " id="page43" title="Begegnung Österreich">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="begegnungSterreich-heading105">Begegnung Österreich</h2>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="begegnungSterreich-heading106">Mit dem Projekt Begegnung Österreich unterstützen wir MigrantInnen auf ihrem Integrationsweg und bieten kostenlos Beratung und Deutschkurse an.</h4>
        <p class=" " id="begegnungSterreich-markdown83"></p>
        <p class=" " id="begegnungSterreich-markdown84">Mit unseren unterschiedlichen Kursen können Sie Deutsch lernen oder Ihre vorhandenen Sprachkenntnisse verbessern. Im Rahmen der MigrantInnen-Beratung informieren wir Sie bei Fragen über das Aufenthaltsrecht oder unterstützen bei sozialen und finanziellen
            Problemen. Auch bei Fragen zu Erziehung, Familie, Schulen oder Kindergärten können Sie sich an uns wenden.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="begegnungSterreich-heading107">Was wir gemeinsam erreichen wollen</h4>
        <p class=" " id="begegnungSterreich-markdown85">Durch die individuelle Beratung und durch unsere Unterstützung beim Erlernen und Verbessern der Sprache wollen wir konkrete Probleme lösen und Ihnen Sicherheit im Umgang mit den Herausforderungen des täglichen Lebens geben.</p>
        <div style="width: 283px; height: 18px;"
        class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="begegnungSterreich-heading108">Wie können Sie teilnehmen?</h4>
        <p class=" " id="begegnungSterreich-markdown86">Wir richten uns an MigrantInnen. Unser Angebot ist kostenlos. Bitte rufen Sie uns einfach an und vereinbaren Sie ein persönliches Gespräch oder kommen Sie während unserer Öffnungszeiten in unsere Beratungsstelle.</p>
        <div style="width: 283px; height: 18px;"
        class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="begegnungSterreich-heading109">Infofolder Deutschkurse und Beratung NÖ</h4>
        <ion-list class=" " id="begegnungSterreich-list38">
            <ion-item style="" onclick="window.open('https://www.caritas-wien.at/fileadmin/storage/wien/hilfe-angebote/asyl-integration/beratung-migrantinnen/deutschkurse-noe.pdf', '_system', 'location=yes'); return false;" href="#" id="begegnungSterreich-list-item100"
            class="item-icon-left calm  ">
                <i class="icon ion-information"></i>PDF</ion-item>
        </ion-list>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="begegnungSterreich-heading110">Asyl &amp; Integration NÖ Süd</h4>
        <ion-list class=" " id="begegnungSterreich-list39">
            <ion-item style="" href="tel:01 02622 830 20" id="begegnungSterreich-list-item101" class="item-icon-left positive  ">
                <i class="icon ion-ios-telephone"></i>01 02622 830 20</ion-item>
            <ion-item style="" href="mailto:asylundintegration-noe@caritas-wien.at" id="begegnungSterreich-list-item102" class="item-icon-left positive  ">
                <i class="icon ion-email"></i>Mail</ion-item>
            <ion-item style="" onclick="window.open('https://www.google.at/maps/place/Wr.+Str.+56,+2700+Wiener+Neustadt/@47.8169651,16.243105,17z/data=!3m1!4b1!4m5!3m4!1s0x476dcb972bf605c9:0x940b0e5d3a4a1a09!8m2!3d47.8169651!4d16.2452937?hl=ro', '_system', 'location=yes'); return false;"
            href="#" id="begegnungSterreich-list-item103" class="item-icon-left positive  ">
                <i class="icon ion-map"></i>Wiener Straße 56 / 2700</ion-item>
        </ion-list>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <p class=" " id="begegnungSterreich-markdown87">Persönliche Terminvereinbarung Mo-Fr 9-12 oder telefonische Kontaktaufnahme</p>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
    </ion-content>
</ion-view>