<ion-view style="" class=" " id="page20" title="Beratung">
    <ion-content class="has-header" scroll="false" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="beratung-heading38">Beratung</h2>
        <div class="">
            <img style="display: block; margin-left: auto; margin-right: auto;" src="img/O4YKGRdzTwO2DcWECwIz_Beratung.jpg" height="auto" width="100%">
        </div>
        <a class=" button button-calm  button-block " id="beratung-button41" ui-sref="p7">Wiener Service für Wohnungslose</a>
        <a class=" button button-calm  button-block " id="beratung-button43" ui-sref="sozialRCkkehrberatung">Sozial- und Rückkehrberatung</a>
    </ion-content>
</ion-view>