<ion-view style="" class=" " id="page54" title="Betreuunggszentrum Gruft">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="betreuunggszentrumGruft-heading146">Betreuungszentrum Gruft</h2>
        <div style="width: 300px; height: 45px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="betreuunggszentrumGruft-heading157">Sie brauchen Unterstützung?</h4>
        <p class=" " style="color:#4C4C4C;" id="betreuunggszentrumGruft-markdown140">In der Gruft erhalten Sie ein warmes Essen, einen von 60 Plätzen zum Schlafen, saubere Kleidung und die Möglichkeit zu duschen. Außerdem bieten wir Beratung und Betreuung durch SozialarbeiterInnen sowie medizinische und therapeutische Hilfestellung.</p>
        <div
        style="width: 283px; height: 18px;" class="spacer"></div>
            <p class=" " style="color:#4C4C4C;" id="betreuunggszentrumGruft-markdown184">Barnabitengasse 12a, 1060 Wien</p>
            <ion-list class=" " id="betreuunggszentrumGruft-list12">
                <ion-item style="" id="betreuunggszentrumGruft-list-item115" class="item-icon-left calm  " href="tel:01-587 87 54">
                    <i class="icon ion-android-call"></i>Telefon
                    <span class="item-note">01-587 87 54</span>
                </ion-item>
            </ion-list>
            <div style="width: 283px; height: 18px;" class="spacer"></div>
            <h4 class=" " style="color: rgb(76, 76, 76);" id="betreuunggszentrumGruft-heading164">Unser Angebot</h4>
            <p class=" " style="color:#4C4C4C;" id="betreuunggszentrumGruft-markdown141">-Tageszentrum täglich von 07.30-21.30</p>
            <p class=" " style="color:#000000;" id="betreuunggszentrumGruft-markdown142"></p>
            <p class=" " style="color:#4C4C4C;" id="betreuunggszentrumGruft-markdown143">-Notschlafstelle täglich von 21.30-07.30</p>
            <p class=" " style="color:#4C4C4C;" id="betreuunggszentrumGruft-markdown144">-Kostenlose warme Mahlzeiten morgens, mittags und abends</p>
            <p class=" " style="color:#4C4C4C;" id="betreuunggszentrumGruft-markdown145">-Kleiderausgabe: Montag, Mittwoch und Freitag von 14.45-17.00</p>
            <p class=" " style="color:#4C4C4C;" id="betreuunggszentrumGruft-markdown146">-Depotmöglichkeit und Postadresse</p>
            <div style="width: 282.8px; height: 40px;" class="spacer"></div>
    </ion-content>
</ion-view>