<ion-view style="" class=" " id="page28" title="Canisibus">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="canisibus-heading45">Canisibus</h2>
        <div style="width: 300px; height: 45px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="canisibus-heading18">Sie brauchen Unterstützung?</h4>
        <p class=" " id="canisibus-markdown25">Unsere Essensbusse liefern nicht nur Suppe, sondern bedeuten auch Offenheit den Menschen gegenüber, die am Rand der Gesellschaft stehen. Sie bedeuten Sicherheit: Die Busse stehen jeden Tag zur selben Zeit an denselben Plätzen. Unsere Gäste, die
            zu den Bussen kommen, können sich darauf verlassen.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <p class=" " style="color:#4C4C4C;" id="canisibus-markdown212">Römergasse 64-66, 1160 Wien</p>
        <ion-list class=" " id="canisibus-list20">
            <ion-item style="" id="canisibus-list-item142" class="item-icon-left calm  " href="tel:01-878 126 09">
                <i class="icon ion-android-call"></i>Telefon
                <span class="item-note">01-878 126 09</span>
            </ion-item>
        </ion-list>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="canisibus-heading19">Unsere täglichen Stationen:</h4>
        <h5 class=" " style="color: rgb(0, 0, 0);" id="canisibus-heading128">Tour 1</h5>
        <p class=" " style="color:#4C4C4C;" id="canisibus-markdown114">-19.45 - 20.10 Uhr: Friedensbrücke (9. Bezirk, Abgang zum Donaukanal, U4)</p>
        <p class=" " style="color:#4C4C4C;" id="canisibus-markdown115">-20.25 - 20.50 Uhr: Bahnhof Floridsdorf (21. Bezirk, Bahnunterführung Franklinstraße, Schnellbahn, U6)</p>
        <p class=" " style="color:#4C4C4C;" id="canisibus-markdown117">-21.05 - 21.30 Uhr: Praterstern (2. Bezirk, unter der Brücke Lassallestraße, Schnellbahn, U1/U2)</p>
        <p class=" " style="color:#4C4C4C;" id="canisibus-markdown116">-21.40 - 22.00 Uhr: Schottentor, innere Nebenfahrbahn Schottenring (1. Bezirk, U2 Universität)</p>
        <h5 class=" " style="color: rgb(0, 0, 0);" id="canisibus-heading130">Tour 2</h5>
        <p class=" " style="color:#4C4C4C;" id="canisibus-markdown119">-19.45 - 20.10 Uhr: Bahnhof Wien Meidling, Schedifkaplatz (12. Bezirk, U6 Philadelphiabrücke)</p>
        <p class=" " style="color:#4C4C4C;" id="canisibus-markdown120">-20.20 - 20.50 Uhr: Hauptbahnhof, Bahnunterführung Canettistraße (10. Bezirk; Schnellbahn, Fernverkehr)</p>
        <p class=" " style="color:#4C4C4C;" id="canisibus-markdown121">-21.00 - 21.20 Uhr: Karlsplatz, Wiedner Hauptstraße unter der TU-Eule (4. Bezirk, U1/U2/U4)</p>
        <p class=" " style="color:#4C4C4C;" id="canisibus-markdown118">-21.35 - 22.00 Uhr: Westbahnhof / Neubaugürtel, Emil-Maurer-Platz (7. Bezirk; U6</p>
        <div style="width: 282.8px; height: 40px;" class="spacer"></div>
    </ion-content>
</ion-view>