<ion-view style="" class=" " id="page39" title="Carbiz - Bildungsberatung">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="carbizBildungsberatung-heading79">Carbiz - Bildungsberatung</h2>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="carbizBildungsberatung-heading80">Anerkannte Flüchtlinge, Subsidiär Schutzberechtigte und MigrantInnen arbeiten sehr oft in Berufen, die nicht ihrer Ausbildung entsprechen. Fluchtbedingte Brüche in der Bildungskarriere sowie unzureichende Anerkennung erworbener Zertifikate haben
            deutliche Auswirkungen auf die Berufsmöglichkeiten. Wir beraten Menschen mit Migrations- oder Fluchthintergrund bei unterschiedlichen Bildungs- und Berufsfragen.</h4>
        <p class=" " id="carbizBildungsberatung-markdown62"></p>
        <p class=" " id="carbizBildungsberatung-markdown63">Wir informieren über schulische, universitäre und andere Ausbildungswege und über die unterschiedlichen Berufsmöglichkeiten in Österreich. Sofern Menschen bereits im Heimatland Ausbildungs- oder Berufsabschlüsse erworben haben, begleiten wir bei
            darauf aufbauenden Ausbildungen bzw. wenn möglich bei der Anerkennung der Zertifikate und der behördlichen Abwicklung.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="carbizBildungsberatung-heading81">Was wir gemeinsam erreichen wollen</h4>
        <p class=" " id="carbizBildungsberatung-markdown64">Durch unsere anbieterunabhängige, qualifizierte und vertrauliche Bildungsberatung wollen wir die Lebensbedingungen von Flüchtlingen und MigrantInnen verbessern. Das Ziel ist die Unterstützung bei der Integration hinsichtlich Ausbildung und Beruf
            sowie der Einstieg in den österreichischen Arbeitsmarkt und ein damit verbundenes selbstständiges Leben in Österreich.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="carbizBildungsberatung-heading82">Sie brauchen Beratung?</h4>
        <p class=" " id="carbizBildungsberatung-markdown65">Wir beraten AsylwerberInnen, Subsidiär Schutzberechtigte, Asylberechtigte, MigrantInnen und neue EU-BürgerInnen.</p>
        <p class=" " id="carbizBildungsberatung-markdown66">Unser Angebot ist kostenlos. Bitte rufen Sie uns einfach an oder schicken Sie uns eine E-Mail und vereinbaren Sie einen persönlichen Gesprächstermin.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="carbizBildungsberatung-heading83">Infofolder Carbiz - Bildungsberatung</h4>
        <ion-list class=" " id="carbizBildungsberatung-list26">
            <ion-item style="" onclick="window.open('https://www.caritas-wien.at/fileadmin/storage/wien/hilfe-angebote/asyl-integration/ausbildung/bildungsberautung-carbiz-folder.pdf', '_system', 'location=yes'); return false;" href="#" id="carbizBildungsberatung-list-item78"
            class="item-icon-left calm  ">
                <i class="icon ion-information"></i>PDF</ion-item>
        </ion-list>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="carbizBildungsberatung-heading84">CarBiz - Caritas Bildungszentrum</h4>
        <ion-list class=" " id="carbizBildungsberatung-list27">
            <ion-item style="" href="tel:01 406 10 37" id="carbizBildungsberatung-list-item79" class="item-icon-left positive  ">
                <i class="icon ion-android-call"></i>01 406 10 37</ion-item>
            <ion-item style="" href="mailto:bildungsberatung@caritas-wien.at" id="carbizBildungsberatung-list-item80" class="item-icon-left positive  ">
                <i class="icon ion-email"></i>Mail</ion-item>
            <ion-item style="" onclick="window.open('https://www.google.at/maps/place/Baumannstra%C3%9Fe+11-15,+1030+Wien/@48.2037391,16.385684,17z/data=!3m1!4b1!4m5!3m4!1s0x476d07723beaff91:0x5eb18d833bf5e7f3!8m2!3d48.2037391!4d16.3878727', '_system', 'location=yes'); return false;" href="#" id="carbizBildungsberatung-list-item81" class="item-icon-left positive  ">
                <i class="icon ion-map"></i>Baumannstr. 11-15/ 1030</ion-item>
        </ion-list>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
    </ion-content>
</ion-view>