<ion-view style="" class=" " id="page42" title="Deutschkurse">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="deutschkurse-heading99">Deutschkurse</h2>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="deutschkurse-heading100">Wir bieten kostenlose Deutschkurse für AsylwerberInnen in Wien und Niederösterreich. Unsere KursleiterInnen, die alle freiwillige MitarbeiterInnen sind, orientieren sich am Alltag der Menschen.</h4>
        <p class=" " id="deutschkurse-markdown79"></p>
        <p class=" " id="deutschkurse-markdown80">Mit unseren unterschiedlichen Kursen können Sie Deutsch lernen oder Ihre vorhandenen Sprachkenntnisse verbessern. Als Prüfungszentrum des Österreichischen Sprachdiploms Deutsch (ÖSD) bieten wir Ihnen nach einer individuellen Beratung die Möglichkeit
            eine ÖSD-Prüfung abzulegen.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="deutschkurse-heading101">Was wir gemeinsam erreichen wollen</h4>
        <p class=" " id="deutschkurse-markdown81">Durch unsere Unterstützung beim Erlernen und Verbessern der Sprache und durch die individuelle Beratung wollen wir Sie fit für den Alltag machen und Ihnen Sicherheit im Umgang mit den Herausforderungen des täglichen Lebens geben.</p>
        <div style="width: 283px; height: 18px;"
        class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="deutschkurse-heading102">Wie können Sie teilnehmen?</h4>
        <p class=" " id="deutschkurse-markdown82">Wir richten uns an AsylwerberInnen. Unser Angebot ist kostenlos. Wenn Sie mehr über die Kurse wissen möchten, rufen Sie uns bitte einfach an.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="deutschkurse-heading103">Deutschkurse</h4>
        <ion-list class=" " id="deutschkurse-list36">
            <ion-item style="" onclick="window.open('https://www.caritas-wien.at/fileadmin/storage/wien/hilfe-angebote/asyl-integration/ausbildung/deutschkurse-folder.pdf', '_system', 'location=yes'); return false;" href="#" id="deutschkurse-list-item96"
            class="item-icon-left calm  ">
                <i class="icon ion-information"></i>PDF</ion-item>
        </ion-list>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="deutschkurse-heading104">CarBiz - Caritas Bildungszentrum</h4>
        <ion-list class=" " id="deutschkurse-list37">
            <ion-item style="" href="tel:01 406 10 37" id="deutschkurse-list-item97" class="item-icon-left positive  ">
                <i class="icon ion-android-call"></i>01 406 10 37</ion-item>
            <ion-item style="" href="mailto:bildungsberatung@caritas-wien.at" id="deutschkurse-list-item98" class="item-icon-left positive  ">
                <i class="icon ion-email"></i>Mail</ion-item>
            <ion-item style="" onclick="window.open('https://www.google.at/maps/place/Baumannstra%C3%9Fe+11-15,+1030+Wien/@48.2037391,16.385684,17z/data=!3m1!4b1!4m5!3m4!1s0x476d07723beaff91:0x5eb18d833bf5e7f3!8m2!3d48.2037391!4d16.3878727?hl=ro', '_system', 'location=yes'); return false;"
            href="#" id="deutschkurse-list-item99" class="item-icon-left positive  ">
                <i class="icon ion-map"></i>Baumannstr. 11-15 / 1030</ion-item>
        </ion-list>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
    </ion-content>
</ion-view>