<ion-view style="" class=" " id="page44" title="Haus Amadou">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="hausAmadou-heading111">Haus Amadou</h2>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="hausAmadou-heading112">Unser Haus versteht sich in erster Linie als Notquartier für mittellose Menschen auf der Flucht, denen wir vor allem einen Schlafplatz und eine Versorgung mit dem Lebenswichtigsten anbieten. Ebenso stehen 14 Plätze im Rahmen der Grundversorgung
            zur Verfügung. Aber auch die längerfristige und intensive Betreuung von MigrantInnen zählt zu unseren Aufgaben.</h4>
        <p class=" " id="hausAmadou-markdown88"></p>
        <p class=" " id="hausAmadou-markdown89">Wir bieten neben 14 Grundversorgungsplätzen vor allem Wohnmöglichkeit für in Not geratene Fremde. Wobei die weitaus größte Gruppe AsylwerberInnen sind, die keine Unterstützung im Rahmen der „Grundversorgung“ (von Bund und Ländern finanzierte Unterbringung,
            Verpflegung und Krankenversicherung) erhalten. Ebenso bieten wir Plätze für mittellose MigrantInnen.</p>
        <p class=" " id="hausAmadou-markdown93">Unser Haus ist eine der wenigen Einrichtungen, die diesen Menschen Unterbringung und Betreuung bietet.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="hausAmadou-heading113">Was wir gemeinsam erreichen wollen</h4>
        <p class=" " id="hausAmadou-markdown91">Der Schutz vor Obdachlosigkeit ist das oberste Ziel, gefolgt von der Versorgung mit dem Notwendigsten (Verpflegung, Ausgabe von Kleidung), Vermittlung zu ehrenamtlich tätigen ÄrztInnen oder zu einem Rechtsbeistand. Priorität hat jedoch auch die
            Entwicklung von Perspektiven gemeinsam mit den BewohnerInnen, damit sie so schnell wie möglich wieder ein selbständiges Leben führen zu können.</p>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="hausAmadou-heading115">Wer kann bei uns wohnen?</h4>
        <p class=" " id="hausAmadou-markdown92">n Not geratene Flüchtlinge oder MigrantInnen ohne Grundversorgung oder andere Unterstützungsleistungen können sich entweder an das Asylzentrum oder MigrantInnenzentrum der Caritas Wien wenden. Nach Abklärung und freien Plätzen kann eine Zuweisung
            erfolgen.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="hausAmadou-heading114">Haus Amadou</h4>
        <ion-list class=" " id="hausAmadou-list40">
            <ion-item style="" href="tel:01 481 54 81 " id="hausAmadou-list-item104" class="item-icon-left calm  ">
                <i class="icon ion-android-call"></i>01 894 02 80</ion-item>
            <ion-item style="" href="mailto:haus.amadou@caritas-wien.at" id="hausAmadou-list-item105" class="item-icon-left positive  ">
                <i class="icon ion-email"></i>Mail</ion-item>
            <ion-item style="" onclick="window.open('https://www.google.at/maps/place/Robert-Hamerling-Gasse+7,+1150+Wien/@48.1942889,16.334998,17z/data=!3m1!4b1!4m5!3m4!1s0x476da81e31d49a85:0xbf3bea78ae8df90e!8m2!3d48.1942889!4d16.3371867?hl=ro', '_system', 'location=yes'); return false;"
            href="#" id="hausAmadou-list-item106" class="item-icon-left positive  ">
                <i class="icon ion-map"></i>Wiedner Hauptstraße 140</ion-item>
        </ion-list>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
    </ion-content>
</ion-view>