<ion-view style="" class=" " id="page3" title="Hilfe">
    <ion-content class="has-header" scroll="false" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 0, 0); font-weight: lighter; text-align: center;" id="hilfe-heading5">Ich bin:</h2>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
        <a class=" button button-calm button-large button-block " id="hilfe-button9" ui-sref="altePerson">Alte Person</a>
        <button class=" button button-calm button-large button-block button-outline " id="hilfe-button10">Asylwerber</button>
        <a class=" button button-calm button-large button-block " id="hilfe-button11" ui-sref="alleinerziehendePerson">Mutter</a>
        <button class=" button button-calm button-large button-block button-outline " id="hilfe-button12">Obdachlos</button>
    </ion-content>
</ion-view>