<ion-view style="" class=" " id="page3" title="Hilfe suchen">
    <ion-content class="has-header" scroll="false" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="hilfeSuchen-heading20">Hilfe suchen</h2>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
        <a class=" button button-calm  button-block " id="hilfeSuchen-button9" ui-sref="pflege">Alterspflege</a>
        <a class=" button button-calm  button-block " id="hilfeSuchen-button10" ui-sref="asylwerber">Asylwerber</a>
        <a class=" button button-calm  button-block " id="hilfeSuchen-button11" ui-sref="alleinerziehendePerson">Alleinerzieher</a>
        <a class=" button button-calm  button-block " id="hilfeSuchen-button12" ui-sref="obdachWohnen">Obdacht</a>
    </ion-content>
</ion-view>