<ion-view style="" class=" " id="page38" title="Initiative Medical Aid for Refugees">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="initiativeMedicalAidForRefugees-heading75">Initiative Medical Aid for Refugees</h2>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
        <p class=" " id="initiativeMedicalAidForRefugees-markdown56"></p>
        <p class=" " id="initiativeMedicalAidForRefugees-markdown57">Angesichts der Witterungsverhältnisse und der prekären Situation in der Betreuungsstelle Traiskirchen hat die ausreichende medizinische Versorgung für die Menschen im Lager oberste Priorität.</p>
        <p class=" " id="initiativeMedicalAidForRefugees-markdown61">Die Initiative Medical Aid for Refugees ist ein Zusammenschluss medizinischer ExpertInnen, ÄrztInnen und verschiedener Hilfsorganisationen, darunter die Caritas, die den Flüchtlingen in Traiskirchen dringend benötigte medizinische Beratung unentgeltlich
            anbieten.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="initiativeMedicalAidForRefugees-heading78">Mehr Infos</h4>
        <ion-list class=" " id="initiativeMedicalAidForRefugees-list25">
            <ion-item style="" onclick="window.open('http://medicalaidforrefugees.at/', '_system', 'location=yes'); return false;" href="#" id="initiativeMedicalAidForRefugees-list-item75" class="item-icon-left calm  ">
                <i class="icon ion-social-google"></i>medicalaidforrefugees</ion-item>
        </ion-list>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
    </ion-content>
</ion-view>