<ion-view style="" class=" " id="page49" title="Kältetelefon">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="kLtetelefon-heading139">Kältetelefon</h2>
        <div style="width: 300px; height: 45px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="kLtetelefon-heading140">Wir können helfen!</h4>
        <p class=" " id="kLtetelefon-markdown137">Wenn Sie den Schlafplatz eines obdachlosen Menschen bemerken und rasch und unkompliziert helfen möchten, kontaktieren sie uns. Das Telefon ist von November bis Ende April rund um die Uhr, an sieben Tagen in der Woche besetzt. In akut lebensbedrohlichen
            Situationen oder bei Gesundheitsgefährdung bitte unbedingt die Rettung unter 144 verständigen.</p>
        <ion-list class=" " id="kLtetelefon-list42">
            <ion-item style="" id="kLtetelefon-list-item132" class="item-icon-left calm  " href="tel:01-480 45 53">
                <i class="icon ion-android-call"></i>Telefon
                <span class="item-note">01-480 45 53</span>
            </ion-item>
            <ion-item style="" id="kLtetelefon-list-item133" class="item-icon-left calm  ">
                <i class="icon ion-email"></i>E-Mail
                <span class="item-note">kaeltetelefon@caritas-wien.at</span>
            </ion-item>
        </ion-list>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <div style="width: 282.8px; height: 40px;" class="spacer"></div>
    </ion-content>
</ion-view>