<ion-view style="" class=" " id="page9" title="Kontakt">
    <ion-content class="has-header" padding="true">
        <ion-list class=" " id="kontakt-list3">
            <ion-item style="" href="tel:01/51 552-3343" id="kontakt-list-item9" class="item-icon-left positive  ">
                <i class="icon ion-ios-telephone"></i>Telefon
                <span class="item-note">01/51 552-3343</span>
            </ion-item>
            <ion-item style="" href="mailto:alleinerziehende@edw.or.at" id="kontakt-list-item10" class="item-icon-left positive  ">
                <i class="icon ion-android-mail"></i>E-Mail
                <span class="item-note">alleinerziehende@edw.or.at</span>
            </ion-item>
            <ion-item style="" id="kontakt-list-item11" class="item-icon-left positive  ">
                <i class="icon ion-map"></i>Adresse
                <span class="item-note">1010 Wien, Stephansplatz 6</span>
            </ion-item>
        </ion-list>
        <div style="width: 283.2px; height: 32px;" class="spacer"></div>
        <p class=" " style="color:#000000;text-align:center;" id="kontakt-markdown11">Nehmen Sie unsere Angebote an und kontaktieren Sie uns. Wir haben sehr viele Mitarbeiter die Ihnen gerne durch Ihre schwere Zeit helfen wollen.</p>
    </ion-content>
</ion-view>