<ion-view style="" class=" " id="page9" title="Kontakt">
    <ion-content scroll="false" padding="true" class=" manual-remove-top-padding has-header">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="kontakt2-heading33">Kontakt</h2>
        <div style="width: 300px; height: 45px;" class="spacer"></div>
        <ion-list class=" " id="kontakt2-list3">
            <ion-item style="" href="tel:01/51 552-3343" id="kontakt2-list-item9" class="item-icon-left positive  ">
                <i class="icon ion-android-call"></i>Telefon
                <span class="item-note">01/51 552-3343</span>
            </ion-item>
            <ion-item style="" href="mailto:alleinerziehende@edw.or.at" id="kontakt2-list-item10" class="item-icon-left positive  ">
                <i class="icon ion-email"></i>E-Mail
                <span class="item-note">alleinerziehende@edw.or.at</span>
            </ion-item>
            <ion-item style="" id="kontakt2-list-item11" class="item-icon-left positive  ">
                <i class="icon ion-map"></i>Adresse
                <span class="item-note">1010 Wien, Stephansplatz 6</span>
            </ion-item>
        </ion-list>
        <div style="width: 283.2px; height: 32px;" class="spacer"></div>
        <p class=" " style="color:#646464;" id="kontakt2-markdown11">Nehmen Sie unsere Angebote an und kontaktieren Sie uns. Wir haben sehr viele Mitarbeiter die Ihnen gerne durch Ihre schwere Zeit helfen wollen.</p>
    </ion-content>
</ion-view>