<ion-view style="" class=" " id="page40" title="Lerncafés">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="lerncafS-heading85">Lerncafés</h2>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="lerncafS-heading86">In unseren Lerncafés erhalten Kinder und Jugendliche aus sozial benachteiligten Familien kostenlose Unterstützung beim Lernen und damit das Rüstzeug für bessere Zukunftschancen.</h4>
        <p class=" " id="lerncafS-markdown67"></p>
        <p class=" " id="lerncafS-markdown68">Nicht alle Kinder können die Schule und die ihnen gestellten Hausaufgaben ohne Hilfe bewältigen. Mit den Lerncafés bieten wir Ihren Kindern kostenlose Lern- und Nachmittagsbetreuung. Unser Angebot richtet sich in besonderem Maße an Kinder mit
            Migrationshintergrund, grundsätzlich stehen die Lerncafés, sofern es der Platz erlaubt, jedoch allen Kindern offen. Neben der gezielten Lernhilfe, geht es auch darum, Ihren Kindern Freude am Lernen zu vermitteln.</p>
        <div style="width: 283px; height: 18px;"
        class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="lerncafS-heading87">Was wir gemeinsam erreichen wollen</h4>
        <p class=" " id="lerncafS-markdown69">Durch altersgerechte Aufgabenbetreuung und Lernen in der Gruppe unterstützen wir den Weg zum Pflichtschulabschluss. Im Lerncafé fördern wir die Talente Ihrer Kinder, stärken das Selbstbewusstsein sowie den Gemeinschaftssinn und der Spaß an der
            Sache darf natürlich nicht zu kurz kommen.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="lerncafS-heading88">Wie kann Ihr Kind teilnehmen?</h4>
        <p class=" " id="lerncafS-markdown70">Kinder und Jugendliche aus sozial benachteiligten Familien zwischen 6 und 15 Jahren können freiwillig und kostenlos am Angebot der Lerncafés teilnehmen. Voraussetzung ist der Bedarf und die Bereitschaft zur regelmäßigen Teilnahme.</p>
        <p class=" "
        id="lerncafS-markdown72">Wenn Ihr Kind in eines unserer Lerncafés kommen möchte, rufen Sie uns bitte einfach an und vereinbaren Sie einen Termin für ein gemeinsames Aufnahmegespräch, bei dem wir auch Ihr Kind gerne kennenlernen würden.</p>
        <div style="width: 283px; height: 18px;"
        class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="lerncafS-heading89">Infofolder Lerncafé</h4>
        <ion-list class=" " id="lerncafS-list30">
            <ion-item style="" onclick="window.open('https://www.caritas-wien.at/fileadmin/storage/wien/hilfe-angebote/asyl-integration/ausbildung/lerncafe-folder.pdf', '_system', 'location=yes'); return false;" href="#" id="lerncafS-list-item82" class="item-icon-left calm  ">
                <i class="icon ion-information"></i>PDF</ion-item>
        </ion-list>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="lerncafS-heading91">Infofolder Lerncafé NÖ</h4>
        <ion-list class=" " id="lerncafS-list28">
            <ion-item style="" onclick="window.open('https://www.caritas-wien.at/fileadmin/storage/wien/hilfe-angebote/asyl-integration/ausbildung/lerncafe-noe-folder.pdf', '_system', 'location=yes'); return false;" href="#" id="lerncafS-list-item86" class="item-icon-left calm  ">
                <i class="icon ion-information"></i>PDF</ion-item>
        </ion-list>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="lerncafS-heading90">Lerncafé Hebbelplatz</h4>
        <ion-list class=" " id="lerncafS-list29">
            <ion-item style="" href="tel:0664 848 25 83" id="lerncafS-list-item83" class="item-icon-left positive  ">
                <i class="icon ion-android-call"></i>0664 848 25 83</ion-item>
            <ion-item style="" href="mailto:lerncafes@caritas-wien.at" id="lerncafS-list-item84" class="item-icon-left positive  ">
                <i class="icon ion-email"></i>Mail</ion-item>
            <ion-item style="" onclick="window.open('https://www.google.at/maps/place/Hebbelpl.+5,+1100+Wien/@48.1659744,16.3763972,17z/data=!3m1!4b1!4m5!3m4!1s0x476da9bf00229145:0x7d1e2fba4be5b8cc!8m2!3d48.1659744!4d16.3785859?hl=ro', '_system', 'location=yes'); return false;"
            href="#" id="lerncafS-list-item85" class="item-icon-left positive  ">
                <i class="icon ion-map"></i>https://www.google.at/maps/place/Hebbelpl.+5,+1100+Wien/@48.1659744,16.3763972,17z/data=!3m1!4b1!4m5!3m4!1s0x476da9bf00229145:0x7d1e2fba4be5b8cc!8m2!3d48.1659744!4d16.3785859?hl=ro</ion-item>
            <ion-item style="" id="lerncafS-list-item91"
            class="item-icon-left positive  ">
                <i class="icon ion-android-alarm-clock"></i>Mo-Mi 13.30-18.00</ion-item>
        </ion-list>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="lerncafS-heading92">Lerncafé Pfarre Franz von Sales</h4>
        <ion-list class=" " id="lerncafS-list31">
            <ion-item style="" href="tel:0664 848 25 83" id="lerncafS-list-item88" class="item-icon-left positive  ">
                <i class="icon ion-android-call"></i>0664 848 25 83</ion-item>
            <ion-item style="" href="mailto:lerncafes@caritas-wien.at" id="lerncafS-list-item89" class="item-icon-left positive  ">
                <i class="icon ion-email"></i>Mail</ion-item>
            <ion-item style="" onclick="window.open('https://www.google.at/maps/place/Holeypl.+1,+1100+Wien/@48.1558663,16.3747367,17z/data=!3m1!4b1!4m5!3m4!1s0x476da9988710f3c5:0xa22284bf366f3634!8m2!3d48.1558663!4d16.3769254?hl=ro', '_system', 'location=yes'); return false;"
            href="#" id="lerncafS-list-item90" class="item-icon-left positive  ">
                <i class="icon ion-map"></i>Holeyplatz 1 / 1100</ion-item>
            <ion-item style="" id="lerncafS-list-item87" class="item-icon-left positive  ">
                <i class="icon ion-android-alarm-clock"></i>Mo-Mi 13.30-18.00</ion-item>
        </ion-list>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
    </ion-content>
</ion-view>