<ion-view style="" class=" " id="page48" title="Louise-Bus">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="louiseBus-heading131">Louise-Bus</h2>
        <div style="width: 300px; height: 45px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="louiseBus-heading132">Sie brauchen Unterstützung?</h4>
        <p class=" " id="louiseBus-markdown122">Keine Wohnung, kein Job, kein Hausarzt, ein langer Weg zur Besorgung eines Krankenscheins. Das Team des Louise-Busses hilft kostenlos bei gesundheitlichen Problemen. ÄrztInnen und freiwillige MitarbeiterInnen betreuen Sie an fünf Tagen in der
            Woche an unterschiedlichen fixen Plätzen in Wien.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <p class=" " style="color:#4C4C4C;" id="louiseBus-markdown211">Lacknergasse 98, 1180 Wien</p>
        <ion-list class=" " id="louiseBus-list15">
            <ion-item style="" id="louiseBus-list-item135" class="item-icon-left calm  " href="tel:01-479 23 94-21">
                <i class="icon ion-android-call"></i>Telefon
                <span class="item-note">01-479 23 94-21</span>
            </ion-item>
        </ion-list>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="louiseBus-heading133">Unsere Stationen:</h4>
        <h5 class=" " style="color: rgb(0, 0, 0);" id="louiseBus-heading134">Montag</h5>
        <p class=" " style="color:#4C4C4C;" id="louiseBus-markdown124">-16.00–19.30: Franz-Josefs Bahnhof, 9. Bezirk, Spittelauer Platz</p>
        <h5 class=" " style="color: rgb(0, 0, 0);" id="louiseBus-heading135">Dienstag</h5>
        <p class=" " style="color:#4C4C4C;" id="louiseBus-markdown127">-09.00–12.00: Praterstern - Ladezone BILLA (U-Bahn Ausgang Nordbahnstraße/Heinestraße)</p>
        <p class=" " style="color:#4C4C4C;" id="louiseBus-markdown128">-15.00–18.00: Vor dem Tageszentrum Josefstädterstraße, 8. Bezirk, U6 Station Josefstädterstraße</p>
        <h5 class=" " style="color: rgb(0, 0, 0);" id="louiseBus-heading136">Mittwoch</h5>
        <p class=" " style="color:#4C4C4C;" id="louiseBus-markdown131">-09.00–11.00: Lacknergasse 96, 18. Bezirk, neben der Zweiten Gruft</p>
        <p class=" " style="color:#4C4C4C;" id="louiseBus-markdown132">-14.00–18.00: Vor dem Tageszentrum Josefstädterstraße, 8. Bezirk, U6 Station Josefstädterstraße</p>
        <h5 class=" " style="color: rgb(0, 0, 0);" id="louiseBus-heading137">Donnerstag</h5>
        <p class=" " style="color:#4C4C4C;" id="louiseBus-markdown134">-09.00–12.00: Vor dem Tageszentrum am Hauptbahnhof, 4. Bezirk, Wiedner Gürtel 10</p>
        <p class=" " style="color:#4C4C4C;" id="louiseBus-markdown133">-14.00–18.00: Vor dem Tageszentrum Josefstädterstraße, 8. Bezirk, U6 Station Josefstädterstraße</p>
        <h5 class=" " style="color: rgb(0, 0, 0);" id="louiseBus-heading138">Freitag</h5>
        <p class=" " style="color:#4C4C4C;" id="louiseBus-markdown135">-09.00–13.00: Vor dem Tageszentrum Josefstädterstraße, 8. Bezirk, U6 Station Josefstädterstraße</p>
        <p class=" " style="color:#4C4C4C;" id="louiseBus-markdown136">-13.30–15.00: Beim FrauenWohnZentrum, 2. Bezirk, Springergasse 5 - Behandlung nur für Frauen</p>
        <div style="width: 282.8px; height: 40px;" class="spacer"></div>
    </ion-content>
</ion-view>