<ion-view style="" class=" " id="page45" title="Notquartiere für Flüchtlinge">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="notquartiereFRFlChtlinge-heading116">Notquartiere für Flüchtlinge</h2>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="notquartiereFRFlChtlinge-heading117">In unseren Notquartieren finden obdachlose Flüchtlinge vorübergehend Unterkunft.</h4>
        <p class=" " id="notquartiereFRFlChtlinge-markdown94"></p>
        <p class=" " id="notquartiereFRFlChtlinge-markdown95">Wir bieten mittellose Menschen auf der Flucht einen Schlafplatz und eine Versorgung mit dem Lebenswichtigsten. Im Notquartier in Maria Enzersdorf können wir 90 Frauen, Männer und Kinder aufnehmen, im 19. Bezirk in Wien 250 schutzsuchende Menschen.
            200 Menschen finden in unserem Notquartier im 15. Bezirk Zuflucht.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="notquartiereFRFlChtlinge-heading118">Was wir gemeinsam erreichen wollen</h4>
        <p class=" " id="notquartiereFRFlChtlinge-markdown97">Der Schutz vor Obdachlosigkeit ist das oberste Ziel, gefolgt von der Versorgung mit dem Notwendigsten (Verpflegung, Ausgabe von Kleidung).</p>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="notquartiereFRFlChtlinge-heading119">Wer kann bei uns wohnen?</h4>
        <p class=" " id="notquartiereFRFlChtlinge-markdown98">Die Zuweisung eines Wohnplatzes erfolgt ausschließlich durch die Stadt Wien oder das Land NÖ. Die Caritas Wien übernimmt die laufende Betreuung.</p>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
    </ion-content>
</ion-view>