<ion-view style="" class=" " id="page18" title="Notruftelefon">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="notruftelefon-heading36">Notruftelefon</h2>
        <div class="">
            <img style="display: block; margin-left: auto; margin-right: auto;" src="img/xPZx6ynvSTi3gv6awhcg_8bw.JPG" height="auto" width="100%">
        </div>
        <div style="width: 283px; height: 8px;" class="spacer"></div>
        <p class=" " id="notruftelefon-markdown16">Ein Knopfdruck genügt und schon wählt das Caritas Notruftelefon automatisch unsere Notrufzentrale an, von wo aus rund um die Uhr rasch die richtige Hilfe für Sie organisiert wird.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76); text-align: center;" id="notruftelefon-heading15">Wie funktioniert ein Notruftelefon?</h4>
        <p class=" " id="notruftelefon-markdown17">Das Caritas Notruftelefon Stationär besteht aus einem Basisgerät und einem wasserdichten Sender, den Sie entweder als „Armband“ oder mit einer „Halskette“ tragen. So können Sie, etwa nach einem Sturz im Badezimmer, durch einen Knopfdruck auf den
            Sender eine Verbindung zu unserer rund um die Uhr besetzten Notrufzentrale herstellen. Ihre für den Notfall wichtigen Daten sind bei uns gespeichert und werden bei eingehendem Notruf sofort sichtbar. Wir können über die Freisprecheinrichtung
            im Basisgerät auch über mehrere Räume hinweg mit Ihnen sprechen. Sie sagen uns, was passiert ist und wir leiten sofort die notwendigen Hilfsmaßnahmen ein, verständigen entweder Ihre Kontaktpersonen oder die Rettung. Auch wenn Sie nicht mit
            uns sprechen können – etwa weil Sie zu weit vom Basisgerät entfernt sind – wird Hilfe für Sie organisiert. Für die Rettungskräfte kann der Wohnungsschlüssel entweder bei Ihrer Kontaktperson, im Caritas-Schlüsseldepot (nur in Wien und Graz
            möglich) oder in einem Schlüsselsafe hinterlegt werden. So kann rasch und richtig geholfen werden.</p>
        <a class=" button button-calm button-large button-block icon-left ion-email " id="notruftelefon-button21" href="mailto:notruftelefon@caritas-wien.at">Fragen?</a>
        <div style="width: 300px; height: 45px;" class="spacer"></div>
    </ion-content>
</ion-view>