<ion-view style="" class=" " id="page52" title="Notschlafstellen für Männer">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="notschlafstellenFRMNner-heading155">Notschlafstellen für Männer</h2>
        <div style="width: 300px; height: 45px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="notschlafstellenFRMNner-heading156">U63 - Nachtnotquartier</h4>
        <p class=" " id="notschlafstellenFRMNner-markdown157">Unter-Meidlinger Straße 63, 1120 Wien</p>
        <ion-list class=" " id="notschlafstellenFRMNner-list51">
            <ion-item style="" id="notschlafstellenFRMNner-list-item143" class="item-icon-left calm  " href="tel:01-405 30 91">
                <i class="icon ion-android-call"></i>Telefon
                <span class="item-note">01-405 30 91</span>
            </ion-item>
        </ion-list>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="notschlafstellenFRMNner-heading159">Gruft - Notschlafstelle</h4>
        <p class=" " id="notschlafstellenFRMNner-markdown160">Barnabitengasse 12a, 1060 Wien</p>
        <ion-list class=" " id="notschlafstellenFRMNner-list60">
            <ion-item style="" id="notschlafstellenFRMNner-list-item146" class="item-icon-left calm  " href="tel:01-587 87 54">
                <i class="icon ion-android-call"></i>Telefon
                <span class="item-note">01-587 87 54</span>
            </ion-item>
        </ion-list>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="notschlafstellenFRMNner-heading160">Zweite Gruft - Notschlafstelle</h4>
        <p class=" " id="notschlafstellenFRMNner-markdown161">Lacknergasse 98, 1180 Wien</p>
        <ion-list class=" " id="notschlafstellenFRMNner-list62">
            <ion-item style="" id="notschlafstellenFRMNner-list-item150" class="item-icon-left calm  " href="tel:0664 887 988 30">
                <i class="icon ion-android-call"></i>Mobil
                <span class="item-note">0664 887 988 30</span>
            </ion-item>
        </ion-list>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="notschlafstellenFRMNner-heading158">JUCA - Notschlafstelle</h4>
        <p class=" " id="notschlafstellenFRMNner-markdown159">Römergasse 64-66, 1160 Wien</p>
        <ion-list class=" " id="notschlafstellenFRMNner-list53">
            <ion-item style="" id="notschlafstellenFRMNner-list-item145" class="item-icon-left calm  " href="tel:01-485272600">
                <i class="icon ion-android-call"></i>Telefon
                <span class="item-note">01-485272600</span>
            </ion-item>
        </ion-list>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="notschlafstellenFRMNner-heading161">Rupert Mayer Haus - Notquartier Plus</h4>
        <p class=" " id="notschlafstellenFRMNner-markdown162">Kirchstetterngasse 26-28, 1160 Wien</p>
        <ion-list class=" " id="notschlafstellenFRMNner-list56">
            <ion-item style="" id="notschlafstellenFRMNner-list-item148" class="item-icon-left calm  " href="tel:01-495 96 25">
                <i class="icon ion-android-call"></i>Telefon
                <span class="item-note">01-495 96 25</span>
            </ion-item>
        </ion-list>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="notschlafstellenFRMNner-heading162">Vinzenhaus</h4>
        <p class=" " id="notschlafstellenFRMNner-markdown163">Gfrornergasse 12, 1060 Wien</p>
        <ion-list class=" " id="notschlafstellenFRMNner-list57">
            <ion-item style="" id="notschlafstellenFRMNner-list-item149" class="item-icon-left calm  " href="tel:01-597 16 00">
                <i class="icon ion-android-call"></i>Telefon
                <span class="item-note">01-597 16 00</span>
            </ion-item>
        </ion-list>
        <div style="width: 282.8px; height: 40px;" class="spacer"></div>
    </ion-content>
</ion-view>