<ion-view style="" class=" " id="page53" title="Notschlafstellen für Jugendliche">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="notschlafstellenFRJugendliche-heading163">Notschlafstellen für Jugendliche</h2>
        <div style="width: 300px; height: 45px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="notschlafstellenFRJugendliche-heading170">a_way</h4>
        <p class=" " style="color:#4C4C4C;" id="notschlafstellenFRJugendliche-markdown170">Wir sind eine Notschlafstelle für Jugendliche im Alter von 14 bis 18 Jahren – in Ausnahmefällen auch bis 21 Jahren. Egal warum Du keine andere Übernachtungsmöglichkeit hast, a
            <em>way steht allen Jugendlichen offen, eine Anmeldung ist nicht nötig. Das Übernachten in a</em>way ist anonym und kostenlos. Du kannst bis zu fünf Nächte im Monat kostenlos in a_way übernachten</p>
        <div style="width: 282.8px; height: 15px;" class="spacer"></div>
        <p class=" " id="notschlafstellenFRJugendliche-markdown164">Felberstraße 1/7, 1150 Wien</p>
        <ion-list class=" " id="notschlafstellenFRJugendliche-list69">
            <ion-item style="" id="notschlafstellenFRJugendliche-list-item151" class="item-icon-left calm  " href="tel:01-897 52 19">
                <i class="icon ion-android-call"></i>Telefon
                <span class="item-note">01-897 52 19</span>
            </ion-item>
        </ion-list>
        <div style="width: 282.8px; height: 40px;" class="spacer"></div>
    </ion-content>
</ion-view>