<ion-view style="" class=" " id="page51" title="Notschlafstellen für Frauen">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="notschlafstellenFRFrauen-heading147">Notschlafstellen für Frauen</h2>
        <div style="width: 300px; height: 45px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="notschlafstellenFRFrauen-heading148">FrauenWohnZentrum</h4>
        <p class=" " id="notschlafstellenFRFrauen-markdown150">Springergasse 5, 1020 Wien</p>
        <ion-list class=" " id="notschlafstellenFRFrauen-list44">
            <ion-item style="" id="notschlafstellenFRFrauen-list-item134" class="item-icon-left calm  " href="tel:01-971 80 07">
                <i class="icon ion-android-call"></i>Telefon
                <span class="item-note">01-971 80 07</span>
            </ion-item>
        </ion-list>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="notschlafstellenFRFrauen-heading149">Haus Miriam - Notschlafstelle für Frauen</h4>
        <p class=" " id="notschlafstellenFRFrauen-markdown151">Schopenhauerstraße 10, 1180 Wien</p>
        <ion-list class=" " id="notschlafstellenFRFrauen-list45">
            <ion-item style="" id="notschlafstellenFRFrauen-list-item136" class="item-icon-left calm  " href="tel:01-408 60 45">
                <i class="icon ion-android-call"></i>Telefon
                <span class="item-note">01-408 60 45</span>
            </ion-item>
        </ion-list>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="notschlafstellenFRFrauen-heading150">JUCA - Notschlafstelle</h4>
        <p class=" " id="notschlafstellenFRFrauen-markdown152">Römergasse 64-66, 1160 Wien</p>
        <ion-list class=" " id="notschlafstellenFRFrauen-list46">
            <ion-item style="" id="notschlafstellenFRFrauen-list-item137" class="item-icon-left calm  " href="tel:01-485272600">
                <i class="icon ion-android-call"></i>Telefon
                <span class="item-note">01-485272600</span>
            </ion-item>
        </ion-list>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="notschlafstellenFRFrauen-heading151">Gruft - Notschlafstelle</h4>
        <p class=" " id="notschlafstellenFRFrauen-markdown153">Barnabitengasse 12a, 1060 Wien</p>
        <ion-list class=" " id="notschlafstellenFRFrauen-list47">
            <ion-item style="" id="notschlafstellenFRFrauen-list-item138" class="item-icon-left calm  " href="tel:01-587 87 54">
                <i class="icon ion-android-call"></i>Telefon
                <span class="item-note">01-587 87 54</span>
            </ion-item>
        </ion-list>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="notschlafstellenFRFrauen-heading152">Zweite Gruft - Notschlafstelle</h4>
        <p class=" " id="notschlafstellenFRFrauen-markdown154">Lacknergasse 98, 1180 Wien</p>
        <ion-list class=" " id="notschlafstellenFRFrauen-list48">
            <ion-item style="" id="notschlafstellenFRFrauen-list-item139" class="item-icon-left calm  " href="tel:0664 887 988 30">
                <i class="icon ion-android-call"></i>Mobil
                <span class="item-note">0664 887 988 30</span>
            </ion-item>
        </ion-list>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="notschlafstellenFRFrauen-heading153">Rupert Mayer Haus - Notquartier Plus</h4>
        <p class=" " id="notschlafstellenFRFrauen-markdown155">Kirchstetterngasse 26-28, 1160 Wien</p>
        <ion-list class=" " id="notschlafstellenFRFrauen-list49">
            <ion-item style="" id="notschlafstellenFRFrauen-list-item140" class="item-icon-left calm  " href="tel:01-495 96 25">
                <i class="icon ion-android-call"></i>Telefon
                <span class="item-note">01-495 96 25</span>
            </ion-item>
        </ion-list>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="notschlafstellenFRFrauen-heading154">P7 - Wiener Service für Wohnunglose</h4>
        <p class=" " id="notschlafstellenFRFrauen-markdown156">Wiedner Gürtel 10, 1040 Wien</p>
        <ion-list class=" " id="notschlafstellenFRFrauen-list50">
            <ion-item style="" id="notschlafstellenFRFrauen-list-item141" class="item-icon-left calm  " href="tel:01-892 33 89">
                <i class="icon ion-android-call"></i>Telefon
                <span class="item-note">01-892 33 89</span>
            </ion-item>
        </ion-list>
        <div style="width: 282.8px; height: 40px;" class="spacer"></div>
    </ion-content>
</ion-view>