<ion-view style="" class=" " id="page59" title="P7">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="p7-heading178">P7 - Wiener Service für Wohnungslose</h2>
        <div style="width: 300px; height: 45px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="p7-heading179">Sie brauchen Unterstützung?</h4>
        <p class=" " style="color:#4C4C4C;" id="p7-markdown193">Wenn Sie wohnungslos sind, vermitteln wir Ihnen eine Notschlafstelle. Wir beraten Sie auch, wenn Sie sich in einer sozialen Notsituation befinden oder von Wohnungslosigkeit bedroht sind, um vorab eine Lösung mit Ihnen zu finden.</p>
        <div style="width: 283px; height: 18px;"
        class="spacer"></div>
        <p class=" " style="color:#4C4C4C;" id="p7-markdown202">Wiedner Gürtel 10, 1040 Wien</p>
        <ion-list class=" " id="p7-list9">
            <ion-item style="" id="p7-list-item130" class="item-icon-left calm  " href="tel:01-892 33 8">
                <i class="icon ion-android-call"></i>
                <span class="item-note">01-892 33 8</span>
            </ion-item>
        </ion-list>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="p7-heading180">Unser Angebot</h4>
        <p class=" " style="color:#000000;" id="p7-markdown194"></p>
        <p class=" " style="color:#4C4C4C;" id="p7-markdown195">-Beratung und Betreuung durch SozialarbeiterInnen</p>
        <p class=" " style="color:#4C4C4C;" id="p7-markdown198">-Information und Beratung über verfügbare Schlaf- und Wohnplätze in Wien für wohnungslose Menschen</p>
        <p class=" " style="color:#4C4C4C;" id="p7-markdown200">-Vermittlung in Einrichtungen der Wiener Wohnungslosenhilfe</p>
        <p class=" " style="color:#4C4C4C;" id="p7-markdown201">-Krisenintervention, Erstabklärung und Notversorgung bei sozialen Problemen und Weiterleitung an zuständige Betreuungseinrichtungen</p>
        <p class=" " style="color:#4C4C4C;" id="p7-markdown197">-Abklärung finanzieller Ansprüche und Einleitung existenzsichernder Maßnahmen</p>
        <p class=" " style="color:#4C4C4C;" id="p7-markdown199">-Abklärung von Rechtsansprüchen</p>
        <p class=" " style="color:#4C4C4C;" id="p7-markdown196">-Hilfestellung im Amts- und Behördenverkehr</p>
        <div style="width: 282.8px; height: 40px;" class="spacer"></div>
    </ion-content>
</ion-view>