<ion-view style="" class=" " id="page12" title="Pflege">
    <ion-content class="has-header" scroll="false" padding="true">
        <div style="width: 300px; height: 4px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="pflege-heading35">Pflege</h2>
        <div class="">
            <img style="display: block; margin-left: auto; margin-right: auto;" src="img/miCDyHqTIygA4MCxniKz_1bw.JPG" height="auto" width="100%">
        </div>
        <div style="width: 300px; height: 9px;" class="spacer"></div>
        <p class=" " style="color:#646464;text-align:justify;" id="pflege-markdown13">Manche Dinge gehen nicht mehr leicht von der Hand, der Gang wird unsicherer, Stiegen können zu Stolperfallen werden.</p>
        <a class=" button button-calm  button-block " id="pflege-button29" ui-sref="pflegewohnhUser">Pflegewohnhäuser</a>
        <a class=" button button-calm  button-block " id="pflege-button20" ui-sref="pflegeZuhause">Pflege Zuhause</a>
        <a class=" button button-calm  button-block " id="pflege-button34" ui-sref="notruftelefon">Notruftelefon</a>
        <a class=" button button-calm  button-block " id="pflege-button19" ui-sref="kontakt">Kontakt</a>
    </ion-content>
</ion-view>