<ion-view style="" class=" " id="page13" title="Pflege Zuhause">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 8px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="pflegeZuhause-heading5">Pflege Zuhause</h2>
        <div style="width: 300px; height: 7px;" class="spacer"></div>
        <p class=" " style="color:#646464;" id="pflegeZuhause-markdown19">Hilfe bei der täglichen Hausarbeit; Unterstützung bei Körperpflege und Anziehen; Unterstützung bei Einkäufen und anderen Erledigungen; Begleitung zum Arzt; Vorbereitung der Medikamente; Verabreichen von Injektionen; Messen von Blutdruck und Blutzucker;
            Vermittlung von Ergo-, Logo- und Physiotherapie; Beratung und Entlastung von Angehörigen</p>
        <ion-list class=" " id="pflegeZuhause-list7">
            <ion-item style="" ui-sref="24StundenBetreuung" id="pflegeZuhause-list-item12" class="item-thumbnail-left  ">
                <img src="img/P32sAbZ0SNWP1CRYEUFq_cardiogram.png">
                <h2>24h - Betreuung</h2>
                <p style="white-space:normal;">Mehr erfahren</p>
            </ion-item>
            <ion-item style="" ui-sref="mobilesHospiz" id="pflegeZuhause-list-item13" class="item-thumbnail-left  ">
                <img src="img/KkxyUmiSTAqvGOaNYjVX_ambulance.png">
                <h2>Mobiles Hospiz</h2>
                <p style="white-space:normal;">Mehr erfahren</p>
            </ion-item>
            <ion-item style="" href="mailto:betreuenundpflegen@caritas-wien.at" id="pflegeZuhause-list-item27" class="item-thumbnail-left  ">
                <img src="img/Hk6bFWDZTy6j8o79IaOg_close-envelope.png">
                <h2>Kontakt Wien</h2>
                <p style="white-space:normal;">Wien: Ilse Frisch betreuenundpflegen@caritas-wien.at</p>
            </ion-item>
            <ion-item style="" href="mailto:betreuenundpflegen@caritas-wien.at" id="pflegeZuhause-list-item28" class="item-thumbnail-left  ">
                <img src="img/NW8pnfEdSgmi2zCQdPSi_close-envelope.png">
                <h2>Kontakt NÖ</h2>
                <p style="white-space:normal;">Niederösterreich: Petra Fischbacher betreuenundpflegen@caritas-wien.at</p>
            </ion-item>
        </ion-list>
        <a class=" button button-calm button-large button-block " id="pflegeZuhause-button28" ui-sref="pflege">Alles klar!</a>
        <div style="width: 300px; height: 45px;" class="spacer"></div>
    </ion-content>
</ion-view>