<ion-view style="" class=" " id="page16" title="Pflegewohnhäuser">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="pflegewohnhUser-heading9">Pflegewohnhäuser</h2>
        <div style="width: 300px; height: 10px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76); text-align: center;" id="pflegewohnhUser-heading14">Lebensgefühl in unseren Häusern</h4>
        <p class=" " id="pflegewohnhUser-markdown24">Viele unserer BewohnerInnen merken erst bei uns, was im Alter und trotz Pflegebedürftigkeit alles möglich ist. Unseren Aktivitäten sind fast keine Grenzen gesetzt. Auf der einen Seite bieten wir Altbewährtes, wie gemeinsam Singen, Gedächtnistraining,
            kreative Nachmittage mit Malen, Werken oder Beschäftigung im Garten. Auf der anderen Seite sind wir für alle Anregungen offen. So gibt es etwa im Haus St. Leopold eine Modelleisenbahn oder wir bauen auch einmal Nützlingshotels für unseren
            Garten. Wir probieren immer wieder Neues und Verschiedenes aus - was gefällt wird weitergeführt. Oft bringen auch Freiwillige und Angehörige neue Ideen ins Haus und bereichern so unseren Alltag. Langeweile kennen unsere BewohnerInnen nicht.
            Neben gemeinsamen Aktivitäten bringen wir auch Kultur und Geselligkeit ins Haus: Mit Konzerten, kulturellen Veranstaltungen, Lesungen oder Vorträgen, Festen und Feiern im Jahreskreis wie zum Beispiel Weihnachtsfeier, Geburtstagsfeste und vieles
            mehr.</p>
        <a class=" button button-calm button-large button-block icon-left ion-android-home " id="pflegewohnhUser-button30" ui-sref="unsereHUser">Unsere Häuser</a>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
    </ion-content>
</ion-view>