<ion-view style="" class=" " id="page37" title="Psychosoziale Angebote">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="psychosozialeAngebote-heading69">Psychosoziale Angebote</h2>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="psychosozialeAngebote-heading70">Wir bieten mit dem Projekt SINTEM interkulturelle psychotherapeutische und psychologische Betreuung für Flüchtlinge in Wien und Niederösterreich. Gerade als Flüchtling ist man nicht nur aufgrund der traumatischen Erfahrungen im Heimatland, sondern
            auch durch die schwierigen Umstände im Aufnahmeland mehrfach belastet.</h4>
        <p class=" " id="psychosozialeAngebote-markdown50"></p>
        <p class=" " id="psychosozialeAngebote-markdown51">Mit dem Projekt SINTEM (Tschetschenisch für „Seelisches Wohlbefinden“) in Wien und Niederösterreich beraten und behandeln wir Einzelpersonen, Paare, Familien und Jugendliche ab 16 Jahre, die an den Folgen traumatischer Erlebnisse (Schlafstörungen,
            Konzentrationsprobleme, Depressionen, Schmerzsymptome usw.) und der unsicheren Situation im Aufnahmeland (Asylverfahren) leiden.</p>
        <p class=" " id="psychosozialeAngebote-markdown54">Unsere TherapeutInnen sind alle spezifisch in Traumatherapie geschult und arbeiten mit erfahrenen DolmetscherInnen in der Muttersprache der Betroffenen.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="psychosozialeAngebote-heading71">Sie brauchen Unterstützung?</h4>
        <p class=" " id="psychosozialeAngebote-markdown52">Unser Angebot ist kostenlos. Wenn Sie in Wien leben, wenden Sie sich bitte telefonisch oder per E-Mail an das Familienzentrum Wien und melden sie sich über unser Anmeldeformular an.</p>
        <p class=" " id="psychosozialeAngebote-markdown55">Wenn Sie in Niederösterreich leben, wenden Sie sich bitte an das Familienzentrum Wr. Neustadt unter 0676 4234034. Persönliche Erreichbarkeit Montag bis Freitag 9-12, danach sprechen Sie bitte auf Band, Sie werden zurückgerufen.</p>
        <div style="width: 283px; height: 18px;"
        class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="psychosozialeAngebote-heading73">Familienzentrum Wien</h4>
        <ion-list class=" " id="psychosozialeAngebote-list22">
            <ion-item style="" href="tel:01 481 54 81" id="psychosozialeAngebote-list-item71" class="item-icon-left calm  ">
                <i class="icon ion-android-call"></i>Tel. 01 481 54 81</ion-item>
            <ion-item style="" href="mailto:fz-wien@caritas-wien.at" id="psychosozialeAngebote-list-item72" class="item-icon-left positive  ">
                <i class="icon ion-email"></i>Mail</ion-item>
            <ion-item style="" onclick="window.open('https://www.google.at/maps/place/Wiedner+Hauptstra%C3%9Fe+140,+1050+Wien/@48.183237,16.3578151,17z/data=!3m1!4b1!4m5!3m4!1s0x476da82da7bfd76b:0xc6eb10945b9c140f!8m2!3d48.183237!4d16.3600038?hl=ro', '_system', 'location=yes'); return false;"
            href="#" id="psychosozialeAngebote-list-item73" class="item-icon-left positive  ">
                <i class="icon ion-map"></i>Wiedner Hauptstraße 140</ion-item>
        </ion-list>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
    </ion-content>
</ion-view>