<ion-view style="" class=" " id="page27" title="Rechtliches">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="rechtliches-heading27">Rechtliches</h2>
        <div style="width: 300px; height: 45px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="rechtliches-heading29">Versicherung</h4>
        <p class=" " style="color:#646464;" id="rechtliches-markdown21">Wenn ein Elternteil versichert ist, dann ist das Kind automatisch mitversichert. Erst ab dem vollendeten 18. Lebensjahr ändert sich das, allerdings kann das Kind auch danach immernoch mitversichert sein unter bestimmten umständen. Am besten informieren
            Sie sich bei der WGKK darüber.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="rechtliches-heading30">Kindergeld</h4>
        <p class=" " style="color:#646464;" id="rechtliches-markdown26">Erkundigen Sie sich auch über Ihren Anspruch an Kindergeld. Dieses kann Ihnen die Führung eines Haushalts erleichtern</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="rechtliches-heading31">Halbwaisenpension</h4>
        <p class=" " style="color:#646464;" id="rechtliches-markdown27">Falls Sie verwitwet sein sollten, können Sie unter Umständen eine Halbwaisenpension für Ihr Kind bekommen. Auch hier gilt die richtigen Informationen online zu suchen.</p>
        <p class=" " style="color:#646464;" id="rechtliches-markdown28">Für weitere Ansprüche und falls es Unklarheiten gibt, stehen wir Ihnen gerne zur Verfügung. Über Kontakt können Sie uns erreichen.</p>
    </ion-content>
</ion-view>