<ion-view style="" class=" " id="page26" title="Sozial- &amp; Rückkehrberatung">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="sozialRCkkehrberatung-heading44">Sozial- und Rückkehrberatung</h2>
        <div style="width: 300px; height: 45px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="sozialRCkkehrberatung-heading17">Sie brauchen Unterstützung?</h4>
        <p class=" " style="color:#4C4C4C;" id="sozialRCkkehrberatung-markdown18">Wenn Sie EU-BürgerIn sind, auf der Straße leben oder sich in einer Notsituation befinden und Hilfe brauchen, bieten wir Ihnen muttersprachliche Beratung und Unterstützung. Unser Angebot ist kostenlos. Bitte rufen Sie uns einfach an oder kommen
            Sie vorbei, um einen Beratungstermin zu vereinbaren.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <p class=" " style="color:#4C4C4C;" id="sozialRCkkehrberatung-markdown210">Triester Straße 33/2. Stock, 1100 Wien</p>
        <ion-list class=" " id="sozialRCkkehrberatung-list10">
            <ion-item style="" id="sozialRCkkehrberatung-list-item131" class="item-icon-left calm  " href="tel:01-522 07 13">
                <i class="icon ion-android-call"></i>
                <span class="item-note">01-522 07 13</span>
            </ion-item>
        </ion-list>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="sozialRCkkehrberatung-heading16">Unser Angebot</h4>
        <p class=" " style="color:#000000;" id="sozialRCkkehrberatung-markdown111"></p>
        <p class=" " style="color:#4C4C4C;" id="sozialRCkkehrberatung-markdown203">-Zukunftsplanung</p>
        <p class=" " style="color:#4C4C4C;" id="sozialRCkkehrberatung-markdown207">-Unterbringung in den Notschlafplätzen der Zweiten Gruft</p>
        <p class=" " style="color:#4C4C4C;" id="sozialRCkkehrberatung-markdown206">-Abklärung von Unterstützungsmöglichkeiten in Österreich</p>
        <p class=" " style="color:#4C4C4C;" id="sozialRCkkehrberatung-markdown209">-Hilfe beim Stellen von Anträgen und bei der Beschaffung von verlorenen Dokumenten</p>
        <p class=" " style="color:#4C4C4C;" id="sozialRCkkehrberatung-markdown186">-Vermittlung von Deutschkursen</p>
        <p class=" " style="color:#4C4C4C;" id="sozialRCkkehrberatung-markdown208">-Schuldenabklärung</p>
        <p class=" " style="color:#4C4C4C;" id="sozialRCkkehrberatung-markdown205">-Weitervermittlung von Personen, die Anspruch auf Unterbringung in anderen Einrichtungen haben oder die nicht EU-BürgerInnen sind an die zuständigen Stellen</p>
        <p class=" " style="color:#4C4C4C;" id="sozialRCkkehrberatung-markdown204">-Rückkehrberatung und Unterstützung bei der Rückkehr in das Herkunftsland</p>
        <div style="width: 282.8px; height: 40px;" class="spacer"></div>
    </ion-content>
</ion-view>