<ion-view title="Startseite" id="page1" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <div class="spacer" style="width: 300px; height: 12px;"></div>
        <h1 id="startseite-heading1" style="color:#3F0707;font-weight:lighter;font-style:italic;text-align:center;" class=" ">Caritas APP</h1>
        <div class="spacer" style="width: 300px; height: 11px;"></div>
        <h2 id="startseite-heading2" style="color:#000000;font-weight:lighter;text-align:center;" class=" ">Ich will:</h2>
        <div class="spacer" style="width: 300px; height: 9px;"></div>
        <a ui-sref="spender" id="startseite-button6" style="border-radius:100px 100px 100px 100px;" class=" button button-balanced button-large button-block ">spenden</a>
        <div class="spacer" style="width: 300px; height: 11px;"></div>
        <a ui-sref="hilfe" id="startseite-button7" style="border-radius:100px 100px 100px 100px;" class=" button button-royal button-large button-block ">hilfe suchen</a>
        <div class="spacer" style="width: 283px; height: 42px;"></div>
        <div class="">
            <a style="display:block;" ui-sref="spender">
                <img src="img/ek077MSQKsI5NiPk63VQ_logo.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
    </ion-content>
</ion-view>