<ion-view style="" class=" " id="page50" title="Streetwork">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="streetwork-heading144">Streetwork</h2>
        <div style="width: 300px; height: 45px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="streetwork-heading145">Sie brauchen Unterstützung?</h4>
        <p class=" " style="color:#4C4C4C;" id="streetwork-markdown148">Dreimal pro Woche – von November bis Ende April sieben Tage pro Woche - sind die SozialarbeiterInnen des Betreuungszentrums Gruft entweder tagsüber oder nachts in ganz Wien unterwegs. Ziel ihrer Fahrten sind WC-Anlagen, Parks, Brücken und Bahnhöfe,
            wo sie obdachlose Menschen aufsuchen. In Gesprächen informieren sie über Betreuungsangebote, bieten individuelle Hilfe an, beraten, verteilen Schlafsäcke sowie warme Bekleidung und bringen obdachlose Menschen in ein Notquartier.</p>
        <div style="width: 283px; height: 18px;"
        class="spacer"></div>
        <p class=" " style="color:#000000;" id="streetwork-markdown149"></p>
        <div style="width: 282.8px; height: 40px;" class="spacer"></div>
    </ion-content>
</ion-view>