<ion-view style="" class=" " id="page47" title="Tageszentrum am Hauptbahnhof">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="tageszentrumAmHauptbahnhof-heading141">Tageszentrum am Hauptbahnhof</h2>
        <div style="width: 300px; height: 45px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="tageszentrumAmHauptbahnhof-heading142">Sie brauchen Unterstützung?</h4>
        <p class=" " style="color:#4C4C4C;" id="tageszentrumAmHauptbahnhof-markdown104">Unser Tageszentrum am Wiener Hauptbahnhof bietet in- und ausländischen obdachlosen Frauen und Männern ab 18 Jahren an sieben Tagen die Woche einen Rückzugsort. Im Tageszentrum am Wiener Hauptbahnhof können Sie sich ausruhen, duschen, Ihre Wäsche
            waschen und bekommen eine Mahlzeit.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <p class=" " style="color:#4C4C4C;" id="tageszentrumAmHauptbahnhof-markdown185">Wiedner Gürtel 10, 1040 Wien</p>
        <ion-list class=" " id="tageszentrumAmHauptbahnhof-list13">
            <ion-item style="" id="tageszentrumAmHauptbahnhof-list-item117" class="item-icon-left calm  " href="tel:01 376 02 01">
                <i class="icon ion-android-call"></i>Telefon
                <span class="item-note">01 376 02 01</span>
            </ion-item>
        </ion-list>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="tageszentrumAmHauptbahnhof-heading143">Unser Angebot</h4>
        <p class=" " style="color:#4C4C4C;" id="tageszentrumAmHauptbahnhof-markdown110">-Betreuung und Beratung</p>
        <p class=" " style="color:#000000;" id="tageszentrumAmHauptbahnhof-markdown109"></p>
        <p class=" " style="color:#4C4C4C;" id="tageszentrumAmHauptbahnhof-markdown112">-Getrennter Aufenthaltsraum für Frauen</p>
        <p class=" " style="color:#4C4C4C;" id="tageszentrumAmHauptbahnhof-markdown130">-Postadresse für wohnungslose Menschen</p>
        <p class=" " style="color:#4C4C4C;" id="tageszentrumAmHauptbahnhof-markdown113">-Donnerstag von 9 – 12 Uhr kostenlose medizinische Betreuung</p>
        <p class=" " style="color:#4C4C4C;" id="tageszentrumAmHauptbahnhof-markdown129">-Kleiderkammer</p>
        <p class=" " style="color:#4C4C4C;" id="tageszentrumAmHauptbahnhof-markdown126">-Duschen, Wäsche waschen</p>
        <p class=" " style="color:#4C4C4C;" id="tageszentrumAmHauptbahnhof-markdown125">-Spinde monatlich zu mieten</p>
        <p class=" " style="color:#4C4C4C;" id="tageszentrumAmHauptbahnhof-markdown138">-Kostenloses W-Lan und PC’s</p>
        <p class=" " style="color:#4C4C4C;" id="tageszentrumAmHauptbahnhof-markdown139">-Verpflegung gegen Selbstkostenpreis</p>
        <div style="width: 282.8px; height: 40px;" class="spacer"></div>
    </ion-content>
</ion-view>