<ion-view style="" class=" " id="page36" title="Treffpunkt Österreich">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="treffpunktSterreich-heading64">Treffpunkt Österreich</h2>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="treffpunktSterreich-heading65">Mit dem Projekt Treffpunkt Österreich unterstützen wir Asylberechtigte und subsidiär Schutzberechtigte in Österreich auf ihrem Integrationsweg und bieten Beratung, Deutschkurse sowie Hilfe bei der Arbeitsuche an.</h4>
        <p class=" " id="treffpunktSterreich-markdown46"></p>
        <p class=" " id="treffpunktSterreich-markdown47">Unsere BeraterInnen informieren Sie bei rechtlichen und sozialen Fragen und unterstützen bei Anträgen oder bei der Wohnungs- und Arbeitssuche. Auch bei Fragen zu Schulen, Kindergärten und für die Unterstützung bei Kontakten zu Behörden können
            Sie sich an uns wenden. Wir bieten auch kostenlose Deutschkurse mit Kinderbetreuung an.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="treffpunktSterreich-heading66">Was wir gemeinsam erreichen wollen</h4>
        <p class=" " id="treffpunktSterreich-markdown48">Durch die individuelle Beratung und durch unsere Unterstützung beim Erlernen und Verbessern der Sprache wollen wir konkrete Probleme lösen und Ihnen Sicherheit im Umgang mit den Herausforderungen des täglichen Lebens geben.</p>
        <div style="width: 283px; height: 18px;"
        class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="treffpunktSterreich-heading67">Wie können Sie teilnehmen?</h4>
        <p class=" " id="treffpunktSterreich-markdown49">Wir richten uns an Asylberechtigte und subsidiär Schutzberechtigte. Unser Angebot ist kostenlos. Bitte rufen Sie uns einfach an und vereinbaren Sie ein persönliches Gespräch oder kommen Sie während unserer Öffnungszeiten in unsere Beratungsstelle.</p>
        <div
        style="width: 283px; height: 18px;" class="spacer"></div>
            <h4 class=" " style="color: rgb(76, 76, 76);" id="treffpunktSterreich-heading68">Infofolder Deutschkurse und Beratung NÖ</h4>
            <ion-list class=" " id="treffpunktSterreich-list23">
                <ion-item style="" onclick="window.open('https://www.caritas-wien.at/fileadmin/storage/wien/hilfe-angebote/asyl-integration/beratung-migrantinnen/deutschkurse-noe.pdf', '_system', 'location=yes'); return false;" href="#" id="treffpunktSterreich-list-item68"
                class="item-icon-left calm  ">
                    <i class="icon ion-information"></i>PDF</ion-item>
            </ion-list>
            <div style="width: 283px; height: 18px;" class="spacer"></div>
            <h4 class=" " style="color: rgb(76, 76, 76);" id="treffpunktSterreich-heading74">Asyl &amp; Integration NÖ Süd</h4>
            <ion-list class=" " id="treffpunktSterreich-list24">
                <ion-item style="" href="tel:01 02622 830 20" id="treffpunktSterreich-list-item69" class="item-icon-left positive  ">
                    <i class="icon ion-android-call"></i>01/ 02622 830 20</ion-item>
                <ion-item style="" href="mailto:asylundintegration-noe@caritas-wien.at" id="treffpunktSterreich-list-item74" class="item-icon-left positive  ">
                    <i class="icon ion-email"></i>Mail</ion-item>
                <ion-item style="" onclick="window.open('https://www.google.at/maps/place/Wr.+Str.+56,+2700+Wiener+Neustadt/@47.8169651,16.243105,17z/data=!3m1!4b1!4m5!3m4!1s0x476dcb972bf605c9:0x940b0e5d3a4a1a09!8m2!3d47.8169651!4d16.2452937?hl=ro', '_system', 'location=yes'); return false;"
                href="#" id="treffpunktSterreich-list-item70" class="item-icon-left positive  ">
                    <i class="icon ion-map"></i>Wiener Straße 56 / 2700</ion-item>
            </ion-list>
            <div style="width: 283px; height: 55px;" class="spacer"></div>
    </ion-content>
</ion-view>