<ion-view style="" class=" " id="page17" title="Unsere Häuser">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 11px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="unsereHUser-heading28">Unsere Häuser</h2>
        <div style="width: 300px; height: 0px;" class="spacer"></div>
        <div id="unsereHUser-card21" class="list card ">
            <ion-item style="" id="unsereHUser-list-item32" class="item-icon-left positive  ">
                <i class="icon ion-android-home"></i>Haus St. Bernadette</ion-item>
            <div class=" item item-image">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/lG65gQZLQnaBmR0hMSUr_6bw.JPG" height="auto" width="100%">
            </div>
            <ion-item style="" id="unsereHUser-list-item35" class="item-icon-left  " href="tel:02239 2306>
                <i class="icon ion-ios-telephone"></i>Tel. 02239 2306</ion-item>
            <ion-item style="" href="mailto:haus-st-bernadette@caritas-wien.at" id="unsereHUser-list-item34" class="item-icon-left  ">
                <i class="icon ion-ios-email-outline"></i>EMail schicken</ion-item>
            <ion-item style="" onclick="window.open('http://tinyurl.com/jb9e9en', '_system', 'location=yes'); return false;" href="#" id="unsereHUser-list-item33" class="item-icon-left  ">
                <i class="icon ion-map"></i>Im Maps öffnen</ion-item>
        </div>
        <div id="unsereHUser-card23" class="list card ">
            <ion-item style="" id="unsereHUser-list-item40" class="item-icon-left positive  ">
                <i class="icon ion-android-home"></i>Haus Baden</ion-item>
            <div class=" item item-image">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/CidYumoNQXCPmvBfLIpl_4bw.JPG" height="auto" width="100%">
            </div>
            <ion-item style="" id="unsereHUser-list-item41" class="item-icon-left  " href="tel:02252 483 18>
                <i class="icon ion-ios-telephone"></i>Tel. 02252 483 18</ion-item>
            <ion-item style="" href="mailto:haus-baden@caritas-wien.at" id="unsereHUser-list-item42" class="item-icon-left  ">
                <i class="icon ion-ios-email-outline"></i>EMail schicken</ion-item>
            <ion-item style="" onclick="window.open('http://tinyurl.com/he88wjy', '_system', 'location=yes'); return false;" href="#" id="unsereHUser-list-item43" class="item-icon-left  ">
                <i class="icon ion-map"></i>Im Maps öffnen</ion-item>
        </div>
        <div id="unsereHUser-card24" class="list card ">
            <ion-item style="" id="unsereHUser-list-item44" class="item-icon-left positive  ">
                <i class="icon ion-android-home"></i>Haus Schönbrunn</ion-item>
            <div class=" item item-image">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/GManBZmRLqMDHk2DVyrl_3bw.JPG" height="auto" width="100%">
            </div>
            <ion-item style="" id="unsereHUser-list-item45" class="item-icon-left  " href="tel:01 812 393 80>
                <i class="icon ion-ios-telephone"></i>Tel. 01 812 393 80</ion-item>
            <ion-item style="" href="mailto:haus-schoenbrunn@caritas-wien.at" id="unsereHUser-list-item46" class="item-icon-left  ">
                <i class="icon ion-ios-email-outline"></i>EMail schicken</ion-item>
            <ion-item style="" onclick="window.open('http://tinyurl.com/jt4s649', '_system', 'location=yes'); return false;" href="#" id="unsereHUser-list-item47" class="item-icon-left  ">
                <i class="icon ion-map"></i>Im Maps öffnen</ion-item>
        </div>
        <div id="unsereHUser-card25" class="list card ">
            <ion-item style="" id="unsereHUser-list-item48" class="item-icon-left positive  ">
                <i class="icon ion-android-home"></i>Haus St. Elisabeth</ion-item>
            <div class=" item item-image">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/cajRrnCkSRiA8BDdpSCZ_7bw.JPG" height="auto" width="100%">
            </div>
            <ion-item style="" id="unsereHUser-list-item49" class="item-icon-left  " href="tel:01 369 24 53>
                <i class="icon ion-ios-telephone"></i>Tel. 01 369 24 53</ion-item>
            <ion-item style="" href="mailto:haus-st-elisabeth@caritas-wien.at" id="unsereHUser-list-item50" class="item-icon-left  ">
                <i class="icon ion-ios-email-outline"></i>EMail schicken</ion-item>
            <ion-item style="" onclick="window.open('http://tinyurl.com/j7j2ovt', '_system', 'location=yes'); return false;" href="#" id="unsereHUser-list-item51" class="item-icon-left  ">
                <i class="icon ion-map"></i>Im Maps öffnen</ion-item>
        </div>
        <div id="unsereHUser-card26" class="list card ">
            <ion-item style="" id="unsereHUser-list-item52" class="item-icon-left positive  ">
                <i class="icon ion-android-home"></i>Haus St. Martin</ion-item>
            <div class=" item item-image">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/q0AprsVpQ8if6z8ApWQG_2bw.JPG" height="auto" width="100%">
            </div>
            <ion-item style="" id="unsereHUser-list-item53" class="item-icon-left  " href="tel:01 272 83 24>
                <i class="icon ion-ios-telephone"></i>Tel. 01 272 83 24</ion-item>
            <ion-item style="" href="mailto:haus-st-martin@caritas-wien.at" id="unsereHUser-list-item54" class="item-icon-left  ">
                <i class="icon ion-ios-email-outline"></i>EMail schicken</ion-item>
            <ion-item style="" onclick="window.open('http://tinyurl.com/j6wlx8d', '_system', 'location=yes'); return false;" href="#" id="unsereHUser-list-item55" class="item-icon-left  ">
                <i class="icon ion-map"></i>Im Maps öffnen</ion-item>
        </div>
        <div id="unsereHUser-card27" class="list card ">
            <ion-item style="" id="unsereHUser-list-item56" class="item-icon-left positive  ">
                <i class="icon ion-android-home"></i>Haus Franz Borgia</ion-item>
            <div class=" item item-image">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/DGLSakSoSHqfmXJ22RMq_5bw.JPG" height="auto" width="100%">
            </div>
            <ion-item style="" id="unsereHUser-list-item57" class="item-icon-left  " href="tel:01 440 23 76>
                <i class="icon ion-ios-telephone"></i>Tel. 01 440 23 76</ion-item>
            <ion-item style="" href="mailto:haus-franz-borgia@caritas-wien.at" id="unsereHUser-list-item58" class="item-icon-left  ">
                <i class="icon ion-ios-email-outline"></i>EMail schicken</ion-item>
            <ion-item style="" onclick="window.open('http://tinyurl.com/jyuvue6', '_system', 'location=yes'); return false;" href="#" id="unsereHUser-list-item59" class="item-icon-left  ">
                <i class="icon ion-map"></i>Im Maps öffnen</ion-item>
        </div>
    </ion-content>
</ion-view>