<ion-view style="" class=" " id="page17" title="Unsere Häuser">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 11px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="unsereHUser-heading28">Unsere Häuser</h2>
        <div style="width: 300px; height: 0px;" class="spacer"></div>
        <div id="unsereHUser-card21" class="list card ">
            <ion-item style="" id="unsereHUser-list-item32" class="item-icon-left positive  ">
                <i class="icon ion-android-home"></i>Haus St. Bernadette</ion-item>
            <div class=" item item-image">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/lG65gQZLQnaBmR0hMSUr_6bw.JPG" height="auto" width="100%">
            </div>
            <ion-item style="" id="unsereHUser-list-item35" class="item-icon-left  " href="tel:02239 2306>
                <i class="icon ion-ios-telephone"></i>Tel. 02239 2306</ion-item>
            <ion-item style="" href="mailto:haus-st-bernadette@caritas-wien.at" id="unsereHUser-list-item34" class="item-icon-left  ">
                <i class="icon ion-ios-email-outline"></i>EMail schicken</ion-item>
            <ion-item style="" onclick="window.open('https://www.google.at/maps/place/Hauptstra%C3%9Fe+128,+2384+Breitenfurt+bei+Wien/@48.1366443,16.2065895,17z/data=!3m1!4b1!4m5!3m4!1s0x476da6835d8ea1b5:0xc946e0b4cae69dcb!8m2!3d48.1366443!4d16.2087782?hl=ro', '_system', 'location=yes'); return false;" href="#" id="unsereHUser-list-item33" class="item-icon-left  ">
                <i class="icon ion-map"></i>Im Maps öffnen</ion-item>
        </div>
        <div id="unsereHUser-card23" class="list card ">
            <ion-item style="" id="unsereHUser-list-item40" class="item-icon-left positive  ">
                <i class="icon ion-android-home"></i>Haus Baden</ion-item>
            <div class=" item item-image">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/CidYumoNQXCPmvBfLIpl_4bw.JPG" height="auto" width="100%">
            </div>
            <ion-item style="" id="unsereHUser-list-item41" class="item-icon-left  " href="tel:02252 483 18>
                <i class="icon ion-ios-telephone"></i>Tel. 02252 483 18</ion-item>
            <ion-item style="" href="mailto:haus-baden@caritas-wien.at" id="unsereHUser-list-item42" class="item-icon-left  ">
                <i class="icon ion-ios-email-outline"></i>EMail schicken</ion-item>
            <ion-item style="" onclick="window.open('https://www.google.at/maps/place/Renngasse+11a,+2500+Baden/@48.0090063,16.2297135,17z/data=!3m1!4b1!4m5!3m4!1s0x476db060877c4be1:0x8e3e31d19e3fedb2!8m2!3d48.0090027!4d16.2319075?hl=ro', '_system', 'location=yes'); return false;" href="#" id="unsereHUser-list-item43" class="item-icon-left  ">
                <i class="icon ion-map"></i>Im Maps öffnen</ion-item>
        </div>
        <div id="unsereHUser-card24" class="list card ">
            <ion-item style="" id="unsereHUser-list-item44" class="item-icon-left positive  ">
                <i class="icon ion-android-home"></i>Haus Schönbrunn</ion-item>
            <div class=" item item-image">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/GManBZmRLqMDHk2DVyrl_3bw.JPG" height="auto" width="100%">
            </div>
            <ion-item style="" id="unsereHUser-list-item45" class="item-icon-left  " href="tel:01 812 393 80>
                <i class="icon ion-ios-telephone"></i>Tel. 01 812 393 80</ion-item>
            <ion-item style="" href="mailto:haus-schoenbrunn@caritas-wien.at" id="unsereHUser-list-item46" class="item-icon-left  ">
                <i class="icon ion-ios-email-outline"></i>EMail schicken</ion-item>
            <ion-item style="" onclick="window.open('https://www.google.at/maps/place/Sch%C3%B6nbrunner+Str.+295,+1120+Wien/@48.1831406,16.3190184,17z/data=!3m1!4b1!4m5!3m4!1s0x476da811e7a36cdd:0x4c85aecb3e16fb5f!8m2!3d48.1831406!4d16.3212071?hl=ro', '_system', 'location=yes'); return false;" href="#" id="unsereHUser-list-item47" class="item-icon-left  ">
                <i class="icon ion-map"></i>Im Maps öffnen</ion-item>
        </div>
        <div id="unsereHUser-card25" class="list card ">
            <ion-item style="" id="unsereHUser-list-item48" class="item-icon-left positive  ">
                <i class="icon ion-android-home"></i>Haus St. Elisabeth</ion-item>
            <div class=" item item-image">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/cajRrnCkSRiA8BDdpSCZ_7bw.JPG" height="auto" width="100%">
            </div>
            <ion-item style="" id="unsereHUser-list-item49" class="item-icon-left  " href="tel:01 369 24 53>
                <i class="icon ion-ios-telephone"></i>Tel. 01 369 24 53</ion-item>
            <ion-item style="" href="mailto:haus-st-elisabeth@caritas-wien.at" id="unsereHUser-list-item50" class="item-icon-left  ">
                <i class="icon ion-ios-email-outline"></i>EMail schicken</ion-item>
            <ion-item style="" onclick="window.open('https://www.google.at/maps/place/Nu%C3%9Fwaldgasse+10-12,+1190+Wien/@48.2439326,16.3489596,17z/data=!3m1!4b1!4m5!3m4!1s0x476d062f60323c7d:0x6eb370d3fd1f5916!8m2!3d48.2439326!4d16.3511483?hl=ro', '_system', 'location=yes'); return false;" href="#" id="unsereHUser-list-item51" class="item-icon-left  ">
                <i class="icon ion-map"></i>Im Maps öffnen</ion-item>
        </div>
        <div id="unsereHUser-card26" class="list card ">
            <ion-item style="" id="unsereHUser-list-item52" class="item-icon-left positive  ">
                <i class="icon ion-android-home"></i>Haus St. Martin</ion-item>
            <div class=" item item-image">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/q0AprsVpQ8if6z8ApWQG_2bw.JPG" height="auto" width="100%">
            </div>
            <ion-item style="" id="unsereHUser-list-item53" class="item-icon-left  " href="tel:01 272 83 24>
                <i class="icon ion-ios-telephone"></i>Tel. 01 272 83 24</ion-item>
            <ion-item style="" href="mailto:haus-st-martin@caritas-wien.at" id="unsereHUser-list-item54" class="item-icon-left  ">
                <i class="icon ion-ios-email-outline"></i>EMail schicken</ion-item>
            <ion-item style="" onclick="window.open('https://www.google.at/maps/place/Anton-Bosch-Gasse+22,+1210+Wien/@48.2696298,16.3873191,17z/data=!3m1!4b1!4m5!3m4!1s0x476d05df82bb8345:0xbb38f69e0ea62fe5!8m2!3d48.2696263!4d16.3895131?hl=ro', '_system', 'location=yes'); return false;" href="#" id="unsereHUser-list-item55" class="item-icon-left  ">
                <i class="icon ion-map"></i>Im Maps öffnen</ion-item>
        </div>
        <div id="unsereHUser-card27" class="list card ">
            <ion-item style="" id="unsereHUser-list-item56" class="item-icon-left positive  ">
                <i class="icon ion-android-home"></i>Haus Franz Borgia</ion-item>
            <div class=" item item-image">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/DGLSakSoSHqfmXJ22RMq_5bw.JPG" height="auto" width="100%">
            </div>
            <ion-item style="" id="unsereHUser-list-item57" class="item-icon-left  " href="tel:01 440 23 76>
                <i class="icon ion-ios-telephone"></i>Tel. 01 440 23 76</ion-item>
            <ion-item style="" href="mailto:haus-franz-borgia@caritas-wien.at" id="unsereHUser-list-item58" class="item-icon-left  ">
                <i class="icon ion-ios-email-outline"></i>EMail schicken</ion-item>
            <ion-item style="" onclick="window.open('https://www.google.at/maps/place/Hameaustra%C3%9Fe+45,+1190+Wien/@48.2516637,16.2887744,17z/data=!3m1!4b1!4m5!3m4!1s0x476d08fd3eedd767:0x2de2f28afdb005bc!8m2!3d48.2516637!4d16.2909631?hl=ro', '_system', 'location=yes'); return false;" href="#" id="unsereHUser-list-item59" class="item-icon-left  ">
                <i class="icon ion-map"></i>Im Maps öffnen</ion-item>
        </div>
    </ion-content>
</ion-view>