<ion-view style="" class=" " id="page46" title="WGs für unbegleitete minderjährige Flüchtlinge">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-heading121">WGs für unbegleitete minderjährige Flüchtlinge</h2>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-heading122">Die jungen Flüchtlinge in unseren Wohngemeinschaften sind ohne Familie nach Österreich geflohen. Oft haben sie ihre Angehörigen im Heimatland oder auf der Flucht verloren.</h4>
        <p class=" " id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-markdown99"></p>
        <p class=" " id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-markdown100">In den Wohngemeinschafen begleiten unsere pädagogisch geschulten MitarbeiterInnen die Jugendlichen in ihrem Alltag. Ziel ist es den Jugendlichen, u.a. durch einen geregelten Tagesablauf und verlässliche Beziehungsangebote, Sicherheit und Selbstvertrauen
            zu geben, um Ihnen die Neuorientierung in einer unbekannten Umgebung zu erleichtern.</p>
        <p class=" " id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-markdown103">Mit den Nachbetreuungsplätzen wollen wir unbegleiteten minderjährigen AsylwerberInnen, die bisher eine WG bewohnt und das 18. Lebensjahr vollendet haben, den Einstieg in das Erwachsenenleben erleichtern.</p>
        <div style="width: 283px; height: 18px;"
        class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-heading123">Was wir gemeinsam erreichen wollen</h4>
        <p class=" " id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-markdown101">Wir möchten den jungen Flüchtlingen eine wertschätzende und altersentsprechende Umgebung bieten. Neben der Persönlichkeitsentwicklung ist das langfristige Ziel, Teilhabe, Ausbildung, Arbeit und somit ein selbständiges Leben zu ermöglichen.</p>
        <div
        style="width: 283px; height: 18px;" class="spacer"></div>
            <h4 class=" " style="color: rgb(76, 76, 76);" id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-heading124">Wer kann bei uns wohnen?</h4>
            <p class=" " id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-markdown102">Die Zuweisung eines Wohnplatzes erfolgt in Wien durch den Fonds Soziales Wien, in Niederösterreich durch die Kinder- und Jugendhilfe des Landes NÖ, in der WG Haus Sarah durch die Kinder- und Jugendhilfe des Landes Burgenland.</p>
            <div style="width: 283px; height: 18px;"
            class="spacer"></div>
            <h4 class=" " style="color: rgb(76, 76, 76);" id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-heading125">Standorte</h4>
            <div id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-card210" class="list card ">
                <ion-item style="" id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-list-item111" class="item-icon-left  ">
                    <i class="icon ion-android-home"></i>WG Refugio</ion-item>
                <div style="" id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-list-item-container2" class="item item-body ">
                    <ion-list class=" " id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-list17">
                        <ion-item style="" href="tel:01 481 54 81 " id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-list-item110" class="item-icon-left calm  ">
                            <i class="icon ion-android-call"></i>01 894 02 80</ion-item>
                        <ion-item style="" href="mailto:wg.refugio@caritas-wien.at" id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-list-item107" class="item-icon-left calm  ">
                            <i class="icon ion-email"></i>Mail</ion-item>
                        <ion-item style="" onclick="window.open('https://www.google.at/maps/place/M%C3%BCllnergasse+6A,+1090+Wien/@48.2203517,16.3610774,17z/data=!3m1!4b1!4m5!3m4!1s0x476d07b98d0afd67:0x2bf78be9af4cb93a!8m2!3d48.2203517!4d16.3632661?hl=ro', '_system', 'location=yes'); return false;"
                        href="#" id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-list-item108" class="item-icon-left calm  ">
                            <i class="icon ion-map"></i>Müllnergasse 6a / 1990</ion-item>
                    </ion-list>
                </div>
            </div>
            <ion-list class=" " id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-list18">
                <ion-item style="" id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-list-item109" class="item-icon-left  ">
                    <i class="icon ion-android-home"></i>WG Yunus</ion-item>
                <ion-item style="" href="tel:01 892 26 59" id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-list-item112" class="item-icon-left calm  ">
                    <i class="icon ion-android-call"></i>01 892 26 59</ion-item>
                <ion-item style="" href="mailto:wg.yunus@caritas-wien.at" id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-list-item116" class="item-icon-left calm  ">
                    <i class="icon ion-email"></i>Mail</ion-item>
                <ion-item style="" onclick="window.open('https://www.google.at/maps/place/Grangasse+6,+1150+Wien/@48.1943072,16.328557,17z/data=!3m1!4b1!4m5!3m4!1s0x476da81da0b0df19:0x7f0b57a6c08a5771!8m2!3d48.1943072!4d16.3307457?hl=ro', '_system', 'location=yes'); return false;"
                href="#" id="wGsFRUnbegleiteteMinderjHrigeFlChtlinge-list-item118" class="item-icon-left calm  ">
                    <i class="icon ion-map"></i>Grangasse 6 1150 Wien</ion-item>
            </ion-list>
            <div style="width: 283px; height: 55px;" class="spacer"></div>
    </ion-content>
</ion-view>