<ion-view style="" class=" " id="page58" title="Wohnungssicherung NÖ Ost">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="wohnungssicherungNOst-heading175">Wohnungssicherung NÖ Ost</h2>
        <div style="width: 300px; height: 45px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="wohnungssicherungNOst-heading176">Sie brauchen Unterstützung?</h4>
        <p class=" " style="color:#4C4C4C;" id="wohnungssicherungNOst-markdown190">Wenn Sie EU-BürgerIn sind, auf der Straße leben oder sich in einer Notsituation befinden und Hilfe brauchen, bieten wir Ihnen muttersprachliche Beratung und Unterstützung. Unser Angebot ist kostenlos. Bitte rufen Sie uns einfach an oder kommen
            Sie vorbei, um einen Beratungstermin zu vereinbaren.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="wohnungssicherungNOst-heading177">Unser Angebot</h4>
        <p class=" " style="color:#000000;" id="wohnungssicherungNOst-markdown191"></p>
        <p class=" " style="color:#000000;" id="wohnungssicherungNOst-markdown192">Some friendly
            <strong>markdown</strong>
        </p>
        <div style="width: 282.8px; height: 40px;" class="spacer"></div>
    </ion-content>
</ion-view>