<ion-view style="" class=" " id="page35" title="Wohnhäusere Flüchtlinge">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="wohnhUsereFlChtlinge-heading120">Wohnhäuser</h2>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="wohnhUsereFlChtlinge-heading126">Was wir gemeinsam erreichen wollen</h4>
        <p class=" " id="wohnhUsereFlChtlinge-markdown105"></p>
        <p class=" " id="wohnhUsereFlChtlinge-markdown106">Unser wichtigstes Ziel ist es, Menschen während ihres Asylverfahrens zur Seite zu stehen, ihnen zu helfen, sich in einer neuen Umgebung zurecht zu finden und gemeinsam Zukunftsperspektiven zu erarbeiten.</p>
        <p class=" " id="wohnhUsereFlChtlinge-markdown107">Mit den Nachbetreuungsplätzen wollen wir unbegleiteten minderjährigen AsylwerberInnen, die bisher eine WG bewohnt und das 18. Lebensjahr vollendet haben, den Einstieg in das Erwachsenenleben erleichtern.</p>
        <div style="width: 283px; height: 18px;"
        class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="wohnhUsereFlChtlinge-heading127">Wer kann bei uns wohnen?</h4>
        <p class=" " id="wohnhUsereFlChtlinge-markdown108">Die Zuweisung eines Wohnplatzes erfolgt durch den Fond Soziales Wien (FSW). Die Caritas Wien übernimmt die laufende Betreuung.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="wohnhUsereFlChtlinge-heading129">Standorte</h4>
        <div id="wohnhUsereFlChtlinge-card29" class="list card ">
            <ion-item style="" id="wohnhUsereFlChtlinge-list-item119" class="item-icon-left  ">
                <i class="icon ion-android-home"></i>Haus Daria</ion-item>
            <div style="" id="wohnhUsereFlChtlinge-list-item-container3" class="item item-body ">
                <ion-list class=" " id="wohnhUsereFlChtlinge-list41">
                    <ion-item style="" href="tel:01 602 60 40 " id="wohnhUsereFlChtlinge-list-item120" class="item-icon-left calm  ">
                        <i class="icon ion-android-call"></i>01 602 60 40</ion-item>
                    <ion-item style="" href="mailto:haus.daria@caritas-wien.at" id="wohnhUsereFlChtlinge-list-item121" class="item-icon-left calm  ">
                        <i class="icon ion-email"></i>Mail</ion-item>
                    <ion-item style="" onclick="window.open('https://www.google.at/maps/place/Braunspergengasse+22,+1100+Wien/@48.1725667,16.3534932,17z/data=!3m1!4b1!4m5!3m4!1s0x476da8354297190f:0x2c649aa07514b96c!8m2!3d48.1725667!4d16.3556819?hl=ro', '_system', 'location=yes'); return false;"
                    href="#" id="wohnhUsereFlChtlinge-list-item122" class="item-icon-left calm  ">
                        <i class="icon ion-map"></i>Braunspergengasse 22 / 1100</ion-item>
                    <ion-item style="" onclick="window.open('https://www.caritas-wien.at/fileadmin/storage/wien/hilfe-angebote/asyl-integration/wohnen/haus-daria-folder.pdf', '_system', 'location=yes'); return false;"
                    href="#" id="wohnhUsereFlChtlinge-list-item127" class="item-icon-left calm  ">
                        <i class="icon ion-information"></i>PDF</ion-item>
                </ion-list>
            </div>
        </div>
        <ion-list class=" " id="wohnhUsereFlChtlinge-list43">
            <ion-item style="" id="wohnhUsereFlChtlinge-list-item123" class="item-icon-left  ">
                <i class="icon ion-android-home"></i>Haus Karwan</ion-item>
            <ion-item style="" href="tel:01 409 23 31 " id="wohnhUsereFlChtlinge-list-item124" class="item-icon-left calm  ">
                <i class="icon ion-android-call"></i>01 409 23 31</ion-item>
            <ion-item style="" href="mailto:haus.karwan@caritas-wien.at" id="wohnhUsereFlChtlinge-list-item125" class="item-icon-left calm  ">
                <i class="icon ion-email"></i>Mail</ion-item>
            <ion-item style="" onclick="window.open('https://www.google.at/maps/place/Grangasse+6,+1150+Wien/@48.1943072,16.328557,17z/data=!3m1!4b1!4m5!3m4!1s0x476da81da0b0df19:0x7f0b57a6c08a5771!8m2!3d48.1943072!4d16.3307457?hl=ro', '_system', 'location=yes'); return false;"
            href="#" id="wohnhUsereFlChtlinge-list-item126" class="item-icon-left calm  ">
                <i class="icon ion-map"></i>Blindengasse 44 / 1080</ion-item>
            <ion-item style="" onclick="window.open('https://www.caritas-wien.at/fileadmin/storage/wien/hilfe-angebote/asyl-integration/wohnen/haus-karwan-folder.pdf', '_system', 'location=yes'); return false;"
            href="#" id="wohnhUsereFlChtlinge-list-item128" class="item-icon-left calm  ">
                <i class="icon ion-information"></i>PDF</ion-item>
        </ion-list>
        <div style="width: 283px; height: 55px;" class="spacer"></div>
    </ion-content>
</ion-view>