<ion-view style="" class=" " id="page55" title="Wärmestuben">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h2 class=" " style="color: rgb(0, 163, 163); font-weight: 300; text-align: center;" id="wRmestuben-heading165">Wärmestuben</h2>
        <div style="width: 300px; height: 45px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="wRmestuben-heading166">Sie brauchen Unterstützung?</h4>
        <p class=" " style="color:#4C4C4C;" id="wRmestuben-markdown167">Unsere Wärmestuben sind von Dezember bis Ende März für alle wärmesuchende Menschen geöffnet. Kommen Sie einfach zu den Öffnungszeiten vorbei. m November informieren wir Sie über die aktuellen Orte.</p>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <h4 class=" " style="color: rgb(76, 76, 76);" id="wRmestuben-heading167">Unser Angebot</h4>
        <p class=" " style="color:#4C4C4C;" id="wRmestuben-markdown168">-Warme Aufenthaltsmöglichkeit</p>
        <p class=" " style="color:#000000;" id="wRmestuben-markdown169"></p>
        <p class=" " style="color:#4C4C4C;" id="wRmestuben-markdown171">-Platz zum Ausruhen</p>
        <p class=" " style="color:#4C4C4C;" id="wRmestuben-markdown172">-Einfache Verköstigung</p>
        <p class=" " style="color:#4C4C4C;" id="wRmestuben-markdown173">-Offenes Ohr für Ihre Sorgen und Nöte</p>
        <div style="width: 282.8px; height: 40px;" class="spacer"></div>
    </ion-content>
</ion-view>